# --
# .fetchmailrc - fetchmailrc of the OTRS user
# Copyright (C) 2001-2008 OTRS AG, http://otrs.org/
# --
# $Id: .fetchmailrc.dist,v 1.3 2008-03-07 17:00:14 martin Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see http://www.gnu.org/licenses/gpl-2.0.txt.
# --
# Note: Continue lines with whitespace at the beginning of each newline
# --

#-----------------#
# simple example:
#-----------------#

#poll <MAIL_SERVER> protocol POP3 user <MAIL_USERNAME> pass <MAIL_PASSWORD> is <LOCAL_OTRS_USERNAME> here

#-------------------------------------------------#
# example for polling from an IMAP-Server via SSL.
#-------------------------------------------------#

#poll <MAIL_SERVER> protocol IMAP port 993 plugin "openssl s_client -connect %h:%p" user <MAIL_USERNAME> pass <MAIL_PASSWORD> is <LOCAL_OTRS_USERNAME> here

#--------------------------------------------------------#
# The openssl command has to be installed and accessible
# for the otrs user.
# If the otrs user cannot find openssl, try:
#  plugin "/path/to/openssl s_client -connect %h:%p"
#--------------------------------------------------------#
