.project
.sublimelinterrc
.externalToolBuilders
.gnupg
.settings
.includepath
.DS_Store
*.swp
*.swo
*~

# OTRS
.procmailrc
/ARCHIVE
doc/manual/en
doc/en/otrs_business_solution_book.pdf
Kernel/Config/Files/ZZZ*.pm
Kernel/Config/GenericAgent.pm
Kernel/Config.pm
Kernel/Language/*.old
bin/cgi-bin/.htaccess
scripts/apache2-perl-startup2.pl
var/virtualfs
var/run
var/log/*.log
var/log/Daemon/*.log
var/OPM
var/Stats
var/tmp/*
var/httpd/htdocs/js/thirdparty/jslint
var/httpd/htdocs/js/js-cache
var/httpd/htdocs/js/js-cache/*
var/httpd/htdocs/skins/Agent/default/css-cache
var/httpd/htdocs/skins/Agent/default/css-cache/*
var/httpd/htdocs/skins/Agent/ivory/css-cache
var/httpd/htdocs/skins/Agent/ivory/css-cache/*
var/httpd/htdocs/skins/Agent/ivory-slim/css-cache
var/httpd/htdocs/skins/Agent/ivory-slim/css-cache/*
var/httpd/htdocs/skins/Agent/slim/css-cache/*
var/httpd/htdocs/skins/Customer/default/css-cache/*
var/httpd/htdocs/skins/Customer/ivory/css-cache/*
var/sessions/Data*
var/sessions/State*
var/article/*
var/cron/*
!var/cron/*.dist

# Fred
Fred.sopm
CHANGES-Fred
doc/en/Fred.xml
doc/en/Fred.pdf
Kernel/Output/HTML/FilterContent/Fred.pm
Kernel/Output/HTML/Fred/*
Kernel/Output/HTML/Templates/Standard/DevelFred*
Kernel/Config/Files/AAAFred.pm
Kernel/Config/Files/Fred.xml
Kernel/Modules/DevelFred.pm
Kernel/System/Fred
var/fred
var/httpd/htdocs/js/*Fred*js
var/httpd/htdocs/skins/Agent/default/css/*Fred*css
var/httpd/htdocs/skins/Customer/default/css/*Fred*css

# OTRSCodePolicy
.tidyall.d
perltidy.LOG.old
bin/otrs.CodePolicy.pl
TidyAll
Kernel/cpan-lib/Locale/PO.pm
scripts/install-git-hooks.pl
scripts/uninstall-git-hooks.pl
OTRSCodePolicy*
perltidy.LOG

# ITSM
var/stats/*.xml.installed
bin/CodeInstall.pl
bin/ModuleCode.pl
bin/DatabaseInstall.pl

# OTRSBusiness
CHANGES-OTRSBusiness.md
doc/*/OTRSBusiness.*
i18n/OTRSBusiness
Kernel/Config/Files/OTRSBusiness.xml
Kernel/Language/*OTRSBusiness.pm
Kernel/Modules/AdminCloudServiceSMS.pm
Kernel/Modules/*Chat*
Kernel/Modules/*ContactWithData*
Kernel/Modules/*DynamicFieldDatabase*
Kernel/Modules/AgentNotificationView.pm
Kernel/Modules/AgentStatisticsReports.pm
Kernel/Modules/AgentTicketAttachmentView.pm
Kernel/Output/HTML/*Chat*
Kernel/Output/HTML/CustomerUser/*Chat*
Kernel/Output/HTML/Notification/ChatAvailabilityCheck.pm
Kernel/Output/HTML/Notification/ChatPreferredChannelsCheck.pm
Kernel/Output/HTML/Preferences/CustomChatChannel.pm
Kernel/Output/HTML/QueuePreferences/ChatChannel.pm
Kernel/Output/HTML/ToolBar/NotificationView.pm
Kernel/Output/HTML/TicketMenu/AttachmentView.pm
Kernel/Output/HTML/FilterElementPost/ContactWithData.pm
Kernel/Output/HTML/FilterElementPost/SLASelectionDialog.pm
Kernel/Output/HTML/Layout/NotificationView.pm
Kernel/Output/HTML/NavBar/*Chat*
Kernel/Output/HTML/NotificationView/*
Kernel/Output/HTML/Templates/Standard/*ContactWithData*
Kernel/Output/HTML/Templates/Standard/*DynamicFieldDatabase*
Kernel/Output/HTML/Templates/Standard/*SLASelectionDialog*
Kernel/Output/HTML/Templates/Standard/*StatisticsReports*
Kernel/Output/HTML/Templates/Standard/AAAOTRSBusiness.tt
Kernel/Output/HTML/Templates/Standard/AdminChatChannel.tt
Kernel/Output/HTML/Templates/Standard/AdminChatChannelRole.tt
Kernel/Output/HTML/Templates/Standard/AdminCloudServiceSMS.tt
Kernel/Output/HTML/Templates/Standard/AdminNotificationEventTransportSMSSettings.tt
Kernel/Output/HTML/Templates/Standard/AgentChat.tt
Kernel/Output/HTML/Templates/Standard/AgentChatAppend.tt
Kernel/Output/HTML/Templates/Standard/AgentChatPopup.tt
Kernel/Output/HTML/Templates/Standard/AgentChatPreview.tt
Kernel/Output/HTML/Templates/Standard/AgentNotificationViewNavBar.tt
Kernel/Output/HTML/Templates/Standard/AgentNotificationViewSmall.tt
Kernel/Output/HTML/Templates/Standard/AgentTicketAttachmentView.tt
Kernel/Output/HTML/Templates/Standard/CustomerChat.tt
Kernel/Output/HTML/Templates/Standard/PublicChat.tt
Kernel/Output/HTML/TicketMenu/AttachmentView.pm
Kernel/Output/HTML/ToolBar/*Chat*
Kernel/Output/HTML/ToolBar/NotificationView.pm
Kernel/Output/PDF/StatisticsReports*
Kernel/System/*Chat*
Kernel/System/CloudService/Client/SMS.pm
Kernel/System/Console/Command/Maint/Chat*
Kernel/System/Console/Command/Maint/NotificationView*
Kernel/System/Console/Command/Maint/Stats/Reports*
Kernel/System/DynamicField/Driver/BaseDatabase.pm
Kernel/System/DynamicField/Driver/ContactWithData.pm
Kernel/System/DynamicField/Driver/Database.pm
Kernel/System/DynamicFieldDatabase.pm
Kernel/System/NotificationView.pm
Kernel/System/StatsReport.pm
Kernel/System/Ticket/Event/NotificationEvent/Transport/NotificationView.pm
Kernel/System/Ticket/Event/NotificationEvent/Transport/SMS.pm
Kernel/System/Ticket/Event/StoreHistoricalData.pm
OTRSBusiness.sopm
scripts/test/Chat
scripts/test/Console/Command/Maint/Chat*
scripts/test/Console/Command/Maint/NotificationView*
scripts/test/Console/Command/Maint/Stats/Reports*
scripts/test/NotificationView*
scripts/test/Selenium/Agent/AgentNotificationView.t
scripts/test/Selenium/Agent/Chat.t
scripts/test/Selenium/Customer/Chat.t
scripts/test/Selenium/Public/Chat.t
scripts/test/StatsReport.t
scripts/test/Ticket/Event/NotificationEvent/Transport/NotificationView.t
var/cron/cleanupchats.dist
var/httpd/htdocs/js/*Chat*
var/httpd/htdocs/js/*TimelineView*
var/httpd/htdocs/js/*StatisticsReports*
var/httpd/htdocs/js/Core.Agent.Admin.DynamicFieldDatabase.js
var/httpd/htdocs/js/Core.Agent.DynamicField.ContactWithData.js
var/httpd/htdocs/js/Core.Agent.DynamicFieldDatabaseSearch.js
var/httpd/htdocs/js/Core.Agent.NotificationView.js
var/httpd/htdocs/js/Core.Agent.TicketAttachmentView.js
var/httpd/htdocs/skins/Agent/business*
var/httpd/htdocs/skins/Agent/default/css/*Chat*
var/httpd/htdocs/skins/Agent/default/css/*StatisticsReports*
var/httpd/htdocs/skins/Agent/default/css/Core.Agent.AttachmentView.css
var/httpd/htdocs/skins/Agent/default/css/Core.Agent.NotificationView.css
var/httpd/htdocs/skins/Agent/default/css/DynamicFieldDatabase.css
var/httpd/htdocs/skins/Customer/default/css/*Chat*
var/httpd/htdocs/skins/Customer/default/css/DynamicFieldDatabase.css
var/packagesetup/OTRSBusiness.pm
var/processes/examples/ITIL Incident Management.yml
var/processes/examples/Order Request Management.yml
var/processes/examples/Request For Leave Management.yml
var/thirdparty/phantomjs
