.project
.externalToolBuilders
.gnupg
.settings
.includepath
.DS_Store
Kernel/cpan-lib/Archive/*
Kernel/cpan-lib/Linux/*

# Fred
Fred.sopm
CHANGES-Fred

# Support
Support.sopm
CHANGES-Support
Kernel/Config/Files/Support.xml
Kernel/Language/*_Support.pm

# OTRSCodePolicy
.tidyall.d
Perl/Critic
TidyAll
scripts/test/OTRSCodePolicy.t
