Belnet <info@belnet.be> <root@otrs-dev.(none)>
Belnet <info@belnet.be> <root@otrs-test.fw.belnet.be>
Carlos Garcia <carlos.garcia@otrs.com> CarlosGarcia <carlos.garcia@otrs.com>
Cyrille Bollu <root@otrs-test.fw.belnet.be>
Dusan Vuckovic <dusan.vuckovic@muehlbauer.de> vuckovicd <dusan.vuckovic@muehlbauer.de>
Elias Probst <elias.probst@otrs.com> <mail@eliasprobst.eu>
Gerald Young <gerald.young@noynim.com> Gerald Young <help@gwy.org>
Jens Bothe <jens.bothe@otrs.com> jensoliver <jojo@jbothe.de>
Jens Pfeifer <jens.pfeifer@otrs.com> Jens Pfeifer <mail@jenspfeifer.de>
Johannes Hörburger <johannes.hoerburger@otrs.com>
Marc Bonsels <marc.bonsels@otrs.com> Marc A. Bonsels <marc.bonsels@otrs.com>
Marc Nilius <marc.nilius@otrs.com> <marc.nilius@libertello.de>
Marc Nilius <marc.nilius@otrs.com> Marc Nilius <marc.nilius@libertello.de>
Marco Buchholz <marco.buchholz@otrs.com> marb <>
Marco Buchholz <marco.buchholz@otrs.com> marb <>
Martin Edenhofer <martin.edenhofer@otrs.com> anonymous <>
Mathias Bräunling <mathias.braeunling@otrs.com> Mathias B <mathias.braeunling@otrs.com>
Mathias Bräunling <mathias.braeunling@otrs.com> MBRG <mathias.braeunling@otrs.com>
Michiel Beijen <michiel.beijen@otrs.com> <michiel.beijen@gmail.com>
Moritz Lenz <mlenz@noris.net> Moritz Lenz <moritz@faui2k3.org>
Nils Leideck <nils.leideck@otrs.com> nilei <nils.leideck@leidex.net>
Renée Bäcker <info@perl-services.de> <github@renee-baecker.de>
Renée Bäcker <info@perl-services.de> <renee.baecker@otrs.com>
Shawn Beasley <shawn.beasley@otrs.com> Shawn Beasley <digitalninja74@gmail.com>
Thorsten Eckel <thorsten.eckel@otrs.com> Thorsten Eckel <te@znuny.com>
Thorsten Eckel <thorsten.eckel@otrs.com> Thorsten <thorsteneckel@posteo.de>
Torsten Thau <Torsten.Thau@cape-it.de> tt <>
