Michiel Beijen <michiel.beijen@otrs.com> <michiel.beijen@gmail.com>
Torsten Thau <Torsten.Thau@cape-it.de> tt <>
Marc Nilius <marc.nilius@otrs.com> Marc Nilius <marc.nilius@libertello.de>
Martin Edenhofer <martin.edenhofer@otrs.com> anonymous <>
Marco Buchholz <marco.buchholz@otrs.com> marb <>
Belnet <info@belnet.be> <root@otrs-test.fw.belnet.be>
Belnet <info@belnet.be> <root@otrs-dev.(none)>
Renée Bäcker <info@perl-services.de> <github@renee-baecker.de>
Renée Bäcker <info@perl-services.de> <renee.baecker@otrs.com>
Elias Probst <elias.probst@otrs.com> <mail@eliasprobst.eu>
Johannes Hörburger <johannes.hoerburger@otrs.com>
Marc Nilius <marc.nilius@otrs.com> <marc.nilius@libertello.de>
Cyrille Bollu <root@otrs-test.fw.belnet.be>
Marco Buchholz <marco.buchholz@otrs.com> marb <>
Nils Leideck <nils.leideck@otrs.com> nilei <nils.leideck@leidex.net>
Mathias Bräunling <mathias.braeunling@otrs.com> Mathias B <mathias.braeunling@otrs.com>
