# --
# Kernel/Config/GenericAgent.pm - config file of generic agent
# Copyright (C) 2001-2008 OTRS AG, http://otrs.org/
# --
# $Id: GenericAgent.pm.dist,v 1.12 2008-04-29 13:17:30 tr Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see http://www.gnu.org/licenses/gpl-2.0.txt.
# --

package Kernel::Config::GenericAgent;

use strict;
use warnings;

use vars qw($VERSION @ISA @EXPORT %Jobs);
require Exporter;
@ISA = qw(Exporter);
@EXPORT = qw(%Jobs);

use vars qw(@ISA $VERSION);
$VERSION = qw($Revision: 1.12 $)[1];

# -----------------------------------------------------------------------
# config options
# -----------------------------------------------------------------------
%Jobs = (

   # [name of job] -> send escalation notifications
#   'send escalation notifications' => {
#       Escalation => 1,
#       # new ticket properties
#       New => {
#           Module => 'Kernel::System::GenericAgent::NotifyAgentGroupOfCustomQueue',
#       },
#   },
   # insert your jobs (see Kernel/Config/GenericAgent.pm.examples)

);
# -----------------------------------------------------------------------
# end of config options
# -----------------------------------------------------------------------
1;
