# --
# Kernel/Config/GenericAgent.pm - config file of generic agent
# Copyright (C) 2001-2006 OTRS GmbH, http://otrs.org/
# --
# $Id: GenericAgent.pm.dist,v 1.9 2006-10-09 17:38:03 mh Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see http://www.gnu.org/licenses/gpl.txt.
# --

package Kernel::Config::GenericAgent;

use strict;
use vars qw($VERSION @ISA @EXPORT %Jobs);
require Exporter;
@ISA = qw(Exporter);
@EXPORT = qw(%Jobs);

$VERSION = '$Revision: 1.9 $';
$VERSION =~ s/^\$.*:\W(.*)\W.+?$/$1/;

# -----------------------------------------------------------------------
# config options
# -----------------------------------------------------------------------
%Jobs = (
   # --
   # [name of job] -> send escalation notifications
   # --
#   'send escalation notifications' => {
#       Escalation => 1,
#       # new ticket properties
#       New => {
#           Module => 'Kernel::System::GenericAgent::NotifyAgentGroupOfCustomQueue',
#       },
#   },
   # insert your jobs (see Kernel/Config/GenericAgent.pm.examples)

);
# -----------------------------------------------------------------------
# end of config options
# -----------------------------------------------------------------------
1;
