# --
# Kernel/System/Ticket/Custom.pm.example - custom ticket changes
# Copyright (C) 2001-2012 OTRS AG, http://otrs.org/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

package Kernel::System::Ticket::Custom;

use strict;
use warnings;

use vars qw(@ISA $VERSION);

# disable redefine warnings in this scope
{
no warnings 'redefine';

# as example redefine the TicketXXX() of Kernel::System::Ticket
sub Kernel::System::Ticket::TicketXXX {
    my ( $Self, %Param ) = @_;

    # do some new stuff

    return 1;
}

# reset all warnings
}

1;

=head1 TERMS AND CONDITIONS

This software is part of the OTRS project (L<http://otrs.org/>).

This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file COPYING for license information (AGPL). If you
did not receive this file, see L<http://www.gnu.org/licenses/agpl.txt>.

=cut
