# --
# Kernel/System/Ticket/Custom.pm.example - custom ticket changes
# Copyright (C) 2001-2008 OTRS AG, http://otrs.org/
# --
# $Id: Custom.pm.example,v 1.1 2008-03-14 00:33:17 martin Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see http://www.gnu.org/licenses/gpl-2.0.txt.
# --

package Kernel::System::Ticket::Custom;

use strict;
use warnings;

use vars qw(@ISA $VERSION);
$VERSION = qw($Revision: 1.1 $) [1];

# disable redefine warnings in this scope
{
no warnings 'redefine';

# as example redefine the TicketXXX() of Kernel::System::Ticket
sub Kernel::System::Ticket::TicketXXX {
    my ( $Self, %Param ) = @_;

    # do some new stuff

    return 1;
}

# reset all warnings
}

1;
