# --
# cron/aaa_base - base crontab package 
# Copyright (C) 2002-2003 Martin Edenhofer <martin+code@otrs.org>
# --
# $Id: aaa_base.dist,v 1.2 2003-01-07 00:36:16 martin Exp $
# This software comes with ABSOLUTELY NO WARRANTY. 
# --
# Who gets the cron emails?
MAILTO="root@localhost"

