# --
# cron/aaa_base - base crontab package
# Copyright (C) 2001-2006 OTRS GmbH, http://otrs.org/
# --
# $Id: aaa_base.dist,v 1.4 2006-10-20 16:46:14 mh Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see http://www.gnu.org/licenses/gpl.txt.
# --

# Who gets the cron emails?
MAILTO="root@localhost"

