# --
# cron/aaa_base - base crontab package
# Copyright (C) 2001-2008 OTRS AG, http://otrs.org/
# --
# $Id: aaa_base.dist,v 1.5 2008-04-29 13:26:18 tr Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see http://www.gnu.org/licenses/gpl-2.0.txt.
# --

# Who gets the cron emails?
MAILTO="root@localhost"

