# --
# cron/fetchmail - fetchmail cron of the OTRS
# Copyright (C) 2002-2003 Martin Edenhofer <martin+code@otrs.org>
# --
# $Id: fetchmail.dist,v 1.2 2003-01-07 00:36:16 martin Exp $
# This software comes with ABSOLUTELY NO WARRANTY. 
# --
# fetch every 5 minutes emails via fetchmail
#*/5 * * * * /usr/bin/fetchmail -a >> /dev/null 

