# --
# cron/fetchmail - fetchmail cron of the OTRS
# Copyright (C) 2001-2005 Martin Edenhofer <martin+code@otrs.org>
# --
# $Id: fetchmail.dist,v 1.5 2006-08-02 16:21:18 cs Exp $
# This software comes with ABSOLUTELY NO WARRANTY.
# --
# fetch every 5 minutes emails via fetchmail
#*/5 * * * * [ -x /usr/bin/fetchmail ] && /usr/bin/fetchmail -a >> /dev/null
#*/5 * * * * [ -x /usr/bin/fetchmail ] && /usr/bin/fetchmail -a --ssl >> /dev/null

