# --
# cron/generic_agent - GenericAgent.pl cron of the OTRS
# Copyright (C) 2001-2008 OTRS AG, http://otrs.org/
# --
# $Id: generic_agent-database.dist,v 1.7 2008-04-29 13:26:18 tr Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see http://www.gnu.org/licenses/gpl-2.0.txt.
# --

# start generic agent every 10 minutes
*/10 * * * *    $HOME/bin/GenericAgent.pl -c db >> /dev/null

