# --
# var/cron/generic_agent_escalation_events.dist - for GenericAgent.pl cron of OTRS
# Copyright (C) 2001-2011 OTRS AG, http://otrs.org/
# --
# $Id: generic_agent_escalation_events.dist,v 1.1 2011-02-28 09:41:24 bes Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

# execute GenericAgent.pl every hour at minute 27
27 * * * * $HOME/bin/GenericAgent.pl -c "Kernel::Config::GenericAgentOTRSEscalationEvents" >> /dev/null
