# --
# cron/pending_jobs - pending_jobs cron of the OTRS
# Copyright (C) 2002-2003 Martin Edenhofer <martin+code@otrs.org>
# --
# $Id: pending_jobs.dist,v 1.4 2003-02-02 12:04:48 martin Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY. 
# --
# check every 120 min the pending jobs
45 */2 * * * $HOME/bin/PendingJobs.pl >> /dev/null
