# --
# cron/pending_jobs - pending_jobs cron of the OTRS
# Copyright (C) 2001-2006 OTRS GmbH, http://otrs.org/
# --
# $Id: pending_jobs.dist,v 1.7 2006-08-26 17:40:40 martin Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY.
# --
# check every 120 min the pending jobs
45 */2 * * * [ -x $HOME/bin/PendingJobs.pl ] && $HOME/bin/PendingJobs.pl >> /dev/null
