# --
# cron/pending_jobs - pending_jobs cron of the OTRS
# Copyright (C) 2001-2009 OTRS AG, http://otrs.org/
# --
# $Id: pending_jobs.dist,v 1.11 2009-02-16 20:55:11 tr Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

# check every 120 min the pending jobs
45 */2 * * *    $HOME/bin/PendingJobs.pl >> /dev/null
