# --
# cron/postmaster_pop3 - postmaster_pop3 cron of the OTRS
# Copyright (C) 2002-2003 Martin Edenhofer <martin+code@otrs.org>
# --
# $Id: postmaster_pop3.dist,v 1.4 2006-08-02 13:25:45 cs Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY. 
# --
# fetch emails every 10 minutes 
*/10 * * * * test -x $HOME/bin/PostMasterPOP3.pl && $HOME/bin/PostMasterPOP3.pl >> /dev/null
