# --
# cron/postmaster - postmaster cron of the OTRS
# Copyright (C) 2001-2008 OTRS AG, http://otrs.org/
# --
# $Id: postmaster.dist,v 1.8 2008-04-29 13:26:18 tr Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see http://www.gnu.org/licenses/gpl-2.0.txt.
# --

# check daily the spool directory of OTRS
#10 0 * * * * [ -e /etc/init.d/otrs ] && /etc/init.d/otrs cleanup >> /dev/null; [ -e /etc/rc.d/init.d/otrs ] && /etc/rc.d/init.d/otrs cleanup >> /dev/null
10 0 * * *  $HOME/bin/otrs.cleanup >> /dev/null

