# --
# cron/postmaster_pop3 - postmaster_pop3 cron of the OTRS
# Copyright (C) 2001-2006 OTRS GmbH, http://otrs.org/
# --
# $Id: postmaster_pop3.dist,v 1.6 2006-08-26 17:40:40 martin Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY.
# --
# fetch emails every 10 minutes
*/10 * * * * [ -x $HOME/bin/PostMasterPOP3.pl ] && $HOME/bin/PostMasterPOP3.pl >> /dev/null
