# --
# cron/postmaster_pop3 - postmaster_pop3 cron of the OTRS
# Copyright (C) 2002 Martin Edenhofer <martin+code@otrs.org>
# --
# $Id: postmaster_pop3.dist,v 1.1 2002-12-15 23:18:33 martin Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY. 
# --
# fetch emails every 10 minutes 
10/* * * * * * $HOME/bin/PostMasterPOP3.pl >> /dev/null
