# --
# cron/rebuild_ticket_index - rebuild ticket index for OTRS
# Copyright (C) 2002-2003 Martin Edenhofer <martin+code@otrs.org>
# --
# $Id: rebuild_ticket_index.dist,v 1.4 2006-08-02 16:21:18 cs Exp $
# This software comes with ABSOLUTELY NO WARRANTY. 
# --
# just every day 
01 01 * * * [ -x $HOME/bin/RebuildTicketIndex.pl ] && $HOME/bin/RebuildTicketIndex.pl >> /dev/null

