# --
# cron/session - delete old session ids of the OTRS
# Copyright (C) 2001-2004 Martin Edenhofer <martin+code@otrs.org>
# --
# $Id: session.dist,v 1.6 2006-08-02 16:21:18 cs Exp $
# This software comes with ABSOLUTELY NO WARRANTY. 
# --
# delete every 120 minutes old/idle session ids
55 */2 * * * [ -x $HOME/bin/DeleteSessionIDs.pl ] && HOME/bin/DeleteSessionIDs.pl --expired >> /dev/null
