# --
# cron/session - delete old session ids of the OTRS
# Copyright (C) 2002-2003 Martin Edenhofer <martin+code@otrs.org>
# --
# $Id: session.dist,v 1.2 2003-01-07 00:36:16 martin Exp $
# This software comes with ABSOLUTELY NO WARRANTY. 
# --
# delete every two hours old session ids
01 */2 * * * $HOME/bin/DeleteSessionIDs.pl --expired >> /dev/null

