# --
# cron/stats - create stats for OTRS
# Copyright (C) 2002-2003 Martin Edenhofer <martin+code@otrs.org>
# --
# $Id: stats.dist,v 1.2 2003-01-07 00:36:16 martin Exp $
# This software comes with ABSOLUTELY NO WARRANTY. 
# --
# create every day new graphics
#50 23 * * * $HOME/bin/mkStats.pl >> /dev/null

