# --
# cron/unlock - unlock old locked ticket of the OTRS
# Copyright (C) 2002-2003 Martin Edenhofer <martin+code@otrs.org>
# --
# $Id: unlock.dist,v 1.5 2006-08-02 16:21:18 cs Exp $
# This software comes with ABSOLUTELY NO WARRANTY. 
# --
# unlock every hour old locked tickets
35 * * * * [ -x $HOME/bin/UnlockTickets.pl ] && $HOME/bin/UnlockTickets.pl --timeout >> /dev/null

