# --
# cron/unlock - unlock old locked ticket of the OTRS
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# $Id: unlock.dist,v 1.11 2009-11-04 12:27:57 mn Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

# unlock every hour old locked tickets
35 * * * *  $HOME/bin/otrs.UnlockTickets.pl --timeout >> /dev/null
