# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --


<div>
    <div class="InnerContent">
        <fieldset class="TableLike FixedLabelSmall NoMargin">
            <label for="FormDraftTitle">{{ "Draft title" | Translate }}:</label>
            <div class="Field">
                <input type="text" id="FormDraftTitle" maxlength="255" />
                <span class="AJAXLoader" style="display:none;"/>
            </div>
        </fieldset>
    </div>
    <div class="ContentFooter Center">
        <button id="SaveFormDraft" class="Primary CallForAction">
            <span>{{ "Save" | Translate }}</span>
        </button>
        <button class="CallForAction CloseDialog" value="{{ "Cancel" | Translate }}">
            <span>{{ "Cancel" | Translate }}</span>
        </button>
    </div>
</div>
