# --
# Copyright (C) 2001-2018 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="WidgetSimple WidgetLoading">
    <div class="Content">
        <i class="fa fa-spinner fa-spin"></i>
        <p class="Center">{{ 'Loading, please wait...' | Translate }}</p>
    </div>
</div>
