# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

[% FOREACH Setting IN Data.SettingList %]
    <li>
        <div class="WidgetSimple Expanded Setting [% IF Setting.IsModified == 1 %]IsModified[% END %] IsLockedByMe" id="Setting[% Setting.DefaultID %]">
            <div class="Header">
                <h2>
                    [% Setting.Name | html %]
                </h2>

                <div class="ActionMenu Visible">
                    <div class="WidgetAction ResetUserSetting [% IF Setting.IsModified != 1 %]Hidden[% END %]">
                        <a href="#" title="[% Translate("Reset to default") | html %]"><i class="fa fa-undo"></i></a>
                        [% Setting.IsModified %]
                    </div>
                </div>
            </div>
            <div class="Content">
                <div class="SettingWrapper">
                    <form autocomplete="off">
                        <div class="SettingContainer">
                            <input type="hidden" name="SettingName" value="[% Setting.Name | html %]" />
                            <fieldset class="TableLike FixedLabel" id="fieldset[% Setting.DefaultID | html %]">
                                [% Setting.HTMLStrg %]
                            </fieldset>
                        </div>
                    </form>
                    <div class="SettingDescription">
                        [% Translate(Setting.Description) | html %]
                    </div>
                </div>
            </div>
        </div>
    </li>
[% END %]
[% IF !Data.SettingList.size() %]
    <div class="WidgetSimple">
        <div class="Content">
            <p class="Center">[% Translate("This group doesn't contain any settings. Please try navigating to one of its sub groups.") | html %]</p>
        </div>
    </div>
[% END %]
