# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

<div>
    <div class="Field SpacingTopSmall">
        <label for="SearchParam" class="Mandatory">
            <span class="Marker">*</span>
        </label>
        {{ SearchParamUser | safe }}
        <input id="SearchParam" name="SearchParam" type="text" class="Validate_Required" />
        <div id="SearchParamError" class="TooltipErrorMessage"><p>{{ 'This field is required.' | Translate }}</p></div>
        <a class="RemoveButton" title="{{ 'Remove this entry' | Translate }}" href="#">
            <i class="fa fa-minus-square-o"></i>
            <span class="InvisibleText">{{ 'Remove' | Translate }}</span>
        </a>
    </div>
    <div class="Clear"></div>
</div>
