# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --
[% RenderBlockStart("Customer") %]
<fieldset class="TableLike FixedLabelSmall Narrow">
[% RenderBlockStart("CustomerImage") %]
[% RenderBlockStart("CustomerImageRealname") %]
    <p>
        [% Data.UserFullname | truncate(400) | html %]
    </p>
[% RenderBlockEnd("CustomerImageRealname") %]
    <div>
        <img src="[% Data.URL %]" />
    </div>
[% RenderBlockEnd("CustomerImage") %]
[% RenderBlockStart("CustomerRow") %]
    <label>[% Translate(Data.Key) | html %]:</label>
    <p class="Value FixedValueSmall" title="[% Data.Value | html %]">
[% RenderBlockStart("CustomerRowUserStatus") %]
        <span class="UserStatusIcon [% Data.UserState | html %]">
            <i class="fa fa-circle" title="[% Data.UserStateDescription | html %]"></i>
        </span>
[% RenderBlockEnd("CustomerRowUserStatus") %]
        [% Data.LinkStart | Interpolate %][% Data.ValueShort %][% Data.LinkStop %]
[% RenderBlockStart("CustomerRowItem") %]
        <a href="[% Data.URL %]" target="[% Data.Target | html %]">
            <img src="[% Config("Frontend::ImagePath") %][% Data.Image | html %]" border="0" alt="[% Translate(Data.Action) | html %]" title="[% Translate(Data.Alt) | html %]" />
        </a>
[% RenderBlockEnd("CustomerRowItem") %]
[% RenderBlockStart("CustomerRowCustomerCompanyInvalid") %]
        <em class="Error">[% Translate("Note: Customer is invalid!") | html %]</em>
[% RenderBlockEnd("CustomerRowCustomerCompanyInvalid") %]
[% RenderBlockStart("CustomerRowChatIcons") %]
        <span class="UserChatIcons Block Hidden">
            <a href="#" title="[% Translate('Start chat') | html %]" type="button" class="UserChatStart"
                data-user-id="[% Data.UserID | html %]" data-user-type="Customer" [% IF Data.TicketID %]data-ticket-id="[% Data.TicketID | html %]"[% END %]
                data-user-fullname="[% Data.UserFullname | html %]">
                <i class="fa fa-comments"></i>
            </a>
            [% IF Data.VideoChatEnabled %]
            <a href="#" title="[% Translate('Video call') | html %]" type="button" class="UserVideoCallStart[% IF !Data.VideoChatAvailable %] Unavailable[% ELSIF !Data.VideoChatSupport %] Unsupported[% END %]"
                data-user-id="[% Data.UserID | html %]" data-user-type="Customer" [% IF Data.TicketID %]data-ticket-id="[% Data.TicketID | html %]"[% END %]
                data-user-fullname="[% Data.UserFullname | html %]">
                <i class="fa fa-video-camera"></i>
            </a>
            <a href="#" title="[% Translate('Audio call') | html %]" type="button" class="UserAudioCallStart[% IF !Data.VideoChatAvailable %] Unavailable[% ELSIF !Data.VideoChatSupport %] Unsupported[% END %]"
                data-user-id="[% Data.UserID | html %]" data-user-type="Customer" [% IF Data.TicketID %]data-ticket-id="[% Data.TicketID | html %]"[% END %]
                data-user-fullname="[% Data.UserFullname | html %]">
                <i class="fa fa-microphone"></i>
            </a>
            [% END %]
        </span>
[% RenderBlockEnd("CustomerRowChatIcons") %]
    </p>
    <div class="Clear"></div>
[% RenderBlockEnd("CustomerRow") %]

[% RenderBlockStart("CustomerItem") %]
    <ul class="ItemRow">
[% RenderBlockStart("CustomerItemRow") %]
        <li>
            <i class="fa [% Data.IconName %] [% Data.CSSClass %]"></i>
            <a class="[% Data.CSSClass %]" [% FOREACH Attribute IN Data.HTMLData %]data-[% Attribute.key | html %]="[% Attribute.value | html %]" [% END %]href="[% Data.URL %]" target="[% Data.Target %]" title="[% Translate(Data.Text) | html %]">
                [% Translate(Data.Text) | html %][% Data.Extension | html %]
            </a>
        </li>
[% RenderBlockEnd("CustomerItemRow") %]
    </ul>
[% RenderBlockEnd("CustomerItem") %]
</fieldset>
[% RenderBlockEnd("Customer") %]
