# --
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --


<div class="MainBox AriaRoleMain LayoutFixedSidebar SidebarFirst">
    <h1>[% Translate("Statistics » Import") | html %]</h1>

    <div class="SidebarColumn">
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Actions") | html %]</h2>
            </div>
            <div class="Content">
                <ul class="ActionList">
                    <li>
                        <a href="[% Env("Baselink") %][% Env('LastStatsOverview') %]" class="CallForAction Fullsize Center"><span><i class="fa fa-caret-left"></i>[% Translate("Go to overview") | html %]</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="ContentColumn">
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Import Statistic Configuration") | html %]</h2>
            </div>
            <div class="Content">

                <form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data" class="Validate">
                    <input type="hidden" name="Action"    value="[% Env("Action") %]"/>
                    <input type="hidden" name="Subaction" value="ImportAction"/>

                    <fieldset class="TableLike">
                        <label for="File">[% Translate("File") | html %]:</label>
                        <div class="Field">
                            <input name="File" id="File" type="file" size="30" class="Validate_Required [% Data.FileServerError %]"/>
                            <p id="FileServerError" class="Hidden">[% Translate(Data.FileServerErrorMessage) | html %]</p>
                        </div>
                        <div class="Field SpacingTop">
                            <button class="Primary CallForAction" accesskey="g" title="[% Translate("Import") | html %] (g)" type="submit" value="[% Translate("Import") | html %]"><span>[% Translate("Import") | html %]</span></button>
                            [% Translate("or") | html %]
                            <a href="[% Env("Baselink") %][% Env('LastStatsOverview') %]">[% Translate("Cancel") | html %]</a>
                        </div>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>
</div>
