# --
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    Core.UI.Chart.DrawLineChart('Chart[% Data.Key | html %]', [% Data.ChartData %], [% Data.TicketWeekdays %], [% Data.TicketYAxis %]);
//]]></script>
[% END %]
<div id="Chart[% Data.Key | html %]" class="Chart"></div>
