# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

## nofilter(TidyAll::Plugin::OTRS::TT::Format)

<div class="MainBox AriaRoleMain LayoutFixedSidebar SidebarFirst">
    <h1>[% Translate("Statistics Overview") | html %]</h1>

    <h1 class="InvisibleText">[% Translate("Statistics Management") | html %]</h1>

    [% USE ActionLink = String( 'AgentStatistics' ) %]

    [% BreadcrumbPath = [
            {
                Name => Translate('Statistics Management'),
                Link => ActionLink.append( ';Subaction=Overview' ),
            },
            {
                Name => Translate('View Statistics'),
            },
        ]
    %]

    [% INCLUDE "Breadcrumb.tt" Path = BreadcrumbPath Type = "Agent" %]

    <div class="SidebarColumn">
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Actions") | html %]</h2>
            </div>
            <div class="Content">
                <ul class="ActionList">
                    <li>
                        <a href="[% Env("Baselink") %]Action=[% Env("Action") %];Subaction=Overview" class="CallForAction Fullsize Center"><span><i class="fa fa-caret-left"></i>[% Translate("Go to overview") | html %]</span></a>
                    </li>
                    [% IF Data.AccessRw %]
                        <li>
                            <a href="[% Env("Baselink") %]Action=AgentStatistics;Subaction=Edit;StatID=[% Data.StatID | uri %]" class="CallForAction Fullsize Center"><span><i class="fa fa-edit"></i>[% Translate("Edit Statistics") | html %]</span></a>
                        </li>
                    [% END %]
                </ul>
            </div>
        </div>

        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Statistics Information") | html %]</h2>
            </div>
            <div class="Content">
                <fieldset class="TableLike FixedLabelSmall">
                    <label>[% Translate("Created") | html %]:</label>
                    <p class="Value">[% Data.Created | Localize("TimeLong") %]</p>
                    <div class="Clear"></div>

                    <label>[% Translate("Created by") | html %]:</label>
                    <p class="Value">[% Data.CreatedBy | html %]</p>
                    <div class="Clear"></div>

                    <label>[% Translate("Changed") | html %]:</label>
                    <p class="Value">[% Data.Changed | Localize("TimeLong") %]</p>
                    <div class="Clear"></div>

                    <label>[% Translate("Changed by") | html %]:</label>
                    <p class="Value">[% Data.ChangedBy | html %]</p>
                    <div class="Clear"></div>

                    <label>[% Translate("Sum rows") | html %]:</label>
                    <p class="Value">[% Translate(Data.SumRowValue) | html %]</p>
                    <div class="Clear"></div>

                    <label>[% Translate("Sum columns") | html %]:</label>
                    <p class="Value">[% Translate(Data.SumColValue) | html %]</p>
                    <div class="Clear"></div>

                    <label>[% Translate("Show as dashboard widget") | html %]:</label>
                    <p class="Value">[% Translate(Data.ShowAsDashboardWidgetValue) | html %]</p>
                    <div class="Clear"></div>

                    <label>[% Translate("Cache") | html %]:</label>
                    <p class="Value">[% Translate(Data.CacheValue) | html %]</p>
                    <div class="Clear"></div>

                    <label>[% Translate("Validity") | html %]:</label>
                    <p class="Value">[% Translate(Data.ValidValue) | html %]</p>
                    <div class="Clear"></div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="ContentColumn">
        <form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data" class="Validate">
            <input type="hidden" name="Action" value="[% Env("Action") %]"/>
            <input type="hidden" name="Subaction" value="Run"/>
            <input type="hidden" name="StatID" value="[% Data.StatID | html %]"/>

            <div class="WidgetSimple">
                <div class="Header">
                    <h2>[% Translate("Settings") | html %]</h2>
                </div>
                <div class="Content">
                    [% FOR Error IN Data.Errors %]
                        <div class="MessageBox Error"><p>[% Error | html %]</p></div>
                    [% END %]

                    [% IF Data.StatsParamsWidget %]

                        [% Data.StatsParamsWidget %]

                        <fieldset class="TableLike SpacingTop">
                            <div class="Value">
                                <button class="Primary CallForAction" type="submit" id="StartStatistic" name="Start" value="[% Translate("Run now") | html %]">
                                    <span><i class="fa fa-caret-square-o-right"></i> [% Translate("Run now") | html %]</span>
                                </button>
                                [% Translate('or') | html %]
                                <a href="[% Env("Baselink") %]Action=[% Env("Action") %];Subaction=Overview">
                                    [% Translate('Cancel') | html %]
                                </a>
                            </div>
                        </fieldset>

                    [% ELSE %]

                        <div class="MessageBox Warning">
                            <p>[% Translate('This statistic contains configuration errors and can currently not be used.') | html %]</p>
                        </div>

                    [% END %]

                </div>
            </div>
        </form>
    </div>
</div>
