# --
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% RenderBlockStart("LoadParentURLAndClose") %]
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
if (Core.UI.Popup.CurrentIsPopupWindow()) {
    Core.UI.Popup.ExecuteInParentWindow(function(WindowObject) {
        WindowObject.Core.UI.Popup.FirePopupEvent('URL', { URL: '[% Env("Baselink") %][% Data.URL %]' });
    });
    Core.UI.Popup.ClosePopup();
}
else {
    window.location.href = '[% Env("Baselink") %][% Data.URL %]';
}
//]]></script>
[% END %]
[% RenderBlockEnd("LoadParentURLAndClose") %]

[% RenderBlockStart("ReloadParentAndClose") %]
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
Core.UI.Popup.ExecuteInParentWindow(function(WindowObject) {
    WindowObject.Core.UI.Popup.FirePopupEvent('Reload');
});
Core.UI.Popup.ClosePopup();
//]]></script>
[% END %]
[% RenderBlockEnd("ReloadParentAndClose") %]
