# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

[% RenderBlockStart("Properties") %]

<form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data" name="compose" id="Compose" class="Validate PreventMultipleSubmits">
    <input type="hidden" name="Action" value="[% Env("Action") %]"/>
    <input type="hidden" name="Subaction" value="Store"/>
    <input type="hidden" name="TicketID" value="[% Data.TicketID | html %]"/>
    <input type="hidden" name="ReplyToArticle" value="[% Data.ReplyToArticle | html %]"/>
    <input type="hidden" name="Expand" id="Expand" value=""/>
    <input type="hidden" name="FormID" value="[% Data.FormID | html %]"/>
    <input type="hidden" name="FormDraftTitle" value="[% Data.FormDraftTitle | html %]"/>
    <input type="hidden" name="FormDraftID" value="[% Data.FormDraftID | html %]"/>
    <input type="hidden" name="FormDraftAction" id="FormDraftAction" />

    <div class="LayoutPopup ARIARoleMain">
        <div class="Header">
            <h1>
[% RenderBlockStart("HeaderAgentTicketFreeText") %]
[% Translate("Change Free Text of %s%s%s", Config('Ticket::Hook'), Config('Ticket::HookDivider'), Data.TicketNumber) | html %]
[% RenderBlockEnd("HeaderAgentTicketFreeText") %]
[% RenderBlockStart("HeaderAgentTicketOwner") %]
[% Translate("Change Owner of %s%s%s", Config('Ticket::Hook'), Config('Ticket::HookDivider'), Data.TicketNumber) | html %]
[% RenderBlockEnd("HeaderAgentTicketOwner") %]
[% RenderBlockStart("HeaderAgentTicketClose") %]
[% Translate("Close %s%s%s", Config('Ticket::Hook'), Config('Ticket::HookDivider'), Data.TicketNumber) | html %]
[% RenderBlockEnd("HeaderAgentTicketClose") %]
[% RenderBlockStart("HeaderAgentTicketNote") %]
[% Translate("Add Note to %s%s%s", Config('Ticket::Hook'), Config('Ticket::HookDivider'), Data.TicketNumber) | html %]
[% RenderBlockEnd("HeaderAgentTicketNote") %]
[% RenderBlockStart("HeaderAgentTicketPending") %]
[% Translate("Set Pending Time for %s%s%s", Config('Ticket::Hook'), Config('Ticket::HookDivider'), Data.TicketNumber) | html %]
[% RenderBlockEnd("HeaderAgentTicketPending") %]
[% RenderBlockStart("HeaderAgentTicketPriority") %]
[% Translate("Change Priority of %s%s%s", Config('Ticket::Hook'), Config('Ticket::HookDivider'), Data.TicketNumber) | html %]
[% RenderBlockEnd("HeaderAgentTicketPriority") %]
[% RenderBlockStart("HeaderAgentTicketResponsible") %]
[% Translate("Change Responsible of %s%s%s", Config('Ticket::Hook'), Config('Ticket::HookDivider'), Data.TicketNumber) | html %]
[% RenderBlockEnd("HeaderAgentTicketResponsible") %]
                 &mdash; [% Data.Title | html %]
            </h1>
            <p class="AsteriskExplanation">[% Translate("All fields marked with an asterisk (*) are mandatory.") | html %]</p>

[% RenderBlockStart("TicketBack") %]
            <p>
                <a class="CancelClosePopup" href="#">[% Translate("Cancel & close") | html %]</a>
            </p>
[% RenderBlockEnd("TicketBack") %]
[% RenderBlockStart("PropertiesLock") %]
            <p>
                [% Translate("The ticket has been locked") | html %].
                <a class="UndoClosePopup" href="[% Env("Baselink") %]Action=AgentTicketLock;Subaction=Unlock;TicketID=[% Data.TicketID %][% IF Data.PreviousOwner %];PreviousOwner=[% Data.PreviousOwner %][% END %];[% Env("ChallengeTokenParam") | html %]">
                    [% Translate("Undo & close") | html %]
                </a>
            </p>
[% RenderBlockEnd("PropertiesLock") %]

        </div>
        <div class="Content">
            [% INCLUDE "FormElements/DraftNotifications.tt" %]
[% RenderBlockStart("WidgetTicketActions") %]
            <div class="WidgetSimple Expanded">
                <div class="Header">
                    <div class="WidgetAction Toggle">
                        <a href="#" title="[% Translate("Toggle this widget") | html %]"><i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i></a>
                    </div>
                    <h2>[% Translate("Ticket Settings") | html %]</h2>
                </div>
                <div class="Content">
                    <fieldset class="TableLike FixedLabel">
[% RenderBlockStart("Title") %]
                        <label class="Mandatory" for="Title"><span class="Marker">*</span>[% Translate("Title") | html %]:</label>
                        <div class="Field">
                            <input type="text" id="Title" name="Title" value="[% Data.Title | html %]" class="W75pc Validate_Required [% Data.TitleInvalid | html %]" />
                            <div id="TitleError" class="TooltipErrorMessage" ><p>[% Translate("This field is required.") | html %]</p></div>
                            <div id="TitleServerError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                        </div>
                        <div class="Clear"></div>
[% RenderBlockEnd("Title") %]

[% RenderBlockStart("Type") %]
                        <label class="Mandatory" for="TypeID"><span class="Marker">*</span>[% Translate("Type") | html %]:</label>
                        <div class="Field">
                        [% Data.TypeStrg %]
                            <div id="TypeIDError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                            <div id="TypeIDServerError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                        </div>
                        <div class="Clear"></div>
[% RenderBlockEnd("Type") %]

[% RenderBlockStart("Queue") %]
                        [% IF Data.QueueMandatory %]
                            <label class="Mandatory" for="NewQueueID"><span class="Marker">*</span>[% Translate("Queue") | html %]:</label>
                        [% ELSE %]
                            <label for="NewQueueID">[% Translate("Queue") | html %]:</label>
                        [% END %]
                        <div class="Field">
                            [% Data.QueuesStrg %]
                            [% IF Data.QueueMandatory %]
                                <div id="NewQueueIDError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                            [% END %]
                            <div id="NewQueueIDServerError" class="TooltipErrorMessage"><p>[% Translate("Queue invalid.") | html %]</p></div>
                        </div>
                        <div class="Clear"></div>
[% RenderBlockEnd("Queue") %]

[% RenderBlockStart("Service") %]
                        [% IF Data.ServiceMandatory %]
                            <label class="Mandatory" for="ServiceID"><span class="Marker">*</span>[% Translate("Service") | html %]:</label>
                        [% ELSE %]
                            <label for="ServiceID">[% Translate("Service") | html %]:</label>
                        [% END %]
                        <div class="Field">
                            [% Data.ServiceStrg %]
                            [% IF Data.ServiceMandatory %]
                                <div id="ServiceIDError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                            [% END %]
                            <div id="ServiceIDServerError" class="TooltipErrorMessage"><p>[% Translate("Service invalid.") | html %]</p></div>
                        </div>
                        <div class="Clear"></div>
[% RenderBlockEnd("Service") %]

[% RenderBlockStart("ServiceMandatory") %]
                        <label class="Mandatory" for="ServiceID"><span class="Marker">*</span>[% Translate("Service") | html %]:</label>
                        <div class="Field">
                            [% Data.ServiceStrg %]
                            <div id="ServiceIDError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                            <div id="ServiceIDServerError" class="TooltipErrorMessage"><p>[% Translate("Service invalid.") | html %]</p></div>
                        </div>
                        <div class="Clear"></div>
[% RenderBlockEnd("ServiceMandatory") %]

[% RenderBlockStart("SLA") %]
                        [% IF Data.SLAMandatory %]
                            <label class="Mandatory" for="SLAID"><span class="Marker">*</span>[% Translate("Service Level Agreement") | html %]:</label>
                        [% ELSE %]
                            <label for="SLAID">[% Translate("Service Level Agreement") | html %]:</label>
                        [% END %]
                        <div class="Field">
                            [% Data.SLAStrg %]
                            [% IF Data.SLAMandatory %]
                                <div id="SLAIDError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                                <div id="SLAIDServerError" class="TooltipErrorMessage"><p>[% Translate("SLA invalid.") | html %]</p></div>
                            [% END %]
                        </div>
                        <div class="Clear"></div>
[% RenderBlockEnd("SLA") %]

[% RenderBlockStart("SLAMandatory") %]
                        <label class="Mandatory" for="SLAID"><span class="Marker">*</span>[% Translate("Service Level Agreement") | html %]:</label>
                        <div class="Field">
                            [% Data.SLAStrg %]
                            <div id="SLAIDError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                            <div id="SLAIDServerError" class="TooltipErrorMessage"><p>[% Translate("SLA invalid.") | html %]</p></div>
                        </div>
                        <div class="Clear"></div>
[% RenderBlockEnd("SLAMandatory") %]

[% RenderBlockStart("Owner") %]
                        [% IF Data.OwnerMandatory %]
                            <label class="Mandatory" for="NewOwnerID"><span class="Marker">*</span>[% Translate("New Owner") | html %]:</label>
                        [% ELSE %]
                            <label for="NewOwnerID">[% Translate("New Owner") | html %]:</label>
                        [% END %]
                        <div class="Field">
                            [% Data.OwnerStrg %]
                            [% IF Data.OwnerMandatory %]
                                <div id="NewOwnerIDError" class="TooltipErrorMessage"><p>[% Translate("Please set a new owner!") | html %]</p></div>
                            [% END %]
                                <div id="NewOwnerIDServerError" class="TooltipErrorMessage"><p>[% Translate("Owner invalid.") | html %]</p></div>
                        </div>
                        <div class="Clear"></div>
[% RenderBlockEnd("Owner") %]

[% RenderBlockStart("OwnerMandatory") %]
                        <label class="Mandatory" for="NewOwnerID"><span class="Marker">*</span>[% Translate("New Owner") | html %]:</label>
                        <div class="Field">
                            [% Data.OwnerStrg %]
                            <div id="NewOwnerIDError" class="TooltipErrorMessage"><p>[% Translate("Please set a new owner!") | html %]</p></div>
                            <div id="NewOwnerIDServerError" class="TooltipErrorMessage"><p>[% Translate("Owner invalid.") | html %]</p></div>
                        </div>
                        <div class="Clear"></div>
[% RenderBlockEnd("OwnerMandatory") %]

[% RenderBlockStart("Responsible") %]
                        [% IF Data.ResponsibleMandatory %]
                            <label class="Mandatory" for="NewResponsibleID">
                                <span class="Marker">*</span>[% Translate("New Responsible") | html %]:
                            </label>
                        [% ELSE %]
                            <label for="NewResponsibleID">[% Translate("New Responsible") | html %]:</label>
                        [% END %]
                        <div class="Field">
                            [% Data.ResponsibleStrg %]
                            [% IF Data.ResponsibleMandatory %]
                                <div id="NewResponsibleIDError" class="TooltipErrorMessage"><p>[% Translate("Please set a new responsible!") | html %]</p></div>
                                <div id="NewResponsibleIDServerError" class="TooltipErrorMessage"><p>[% Translate("Responsible invalid.") | html %]</p></div>
                            [% END %]
                        </div>
                        <div class="Clear"></div>
[% RenderBlockEnd("Responsible") %]

[% RenderBlockStart("ResponsibleMandatory") %]
                        <label class="Mandatory" for="NewResponsibleID"><span class="Marker">*</span>[% Translate("New Responsible") | html %]:</label>
                        <div class="Field">
                            [% Data.ResponsibleStrg %]
                            <div id="NewResponsibleIDError" class="TooltipErrorMessage"><p>[% Translate("Please set a new responsible!") | html %]</p></div>
                            <div id="NewResponsibleIDServerError" class="TooltipErrorMessage"><p>[% Translate("Responsible invalid.") | html %]</p></div>
                        </div>
                        <div class="Clear"></div>
[% RenderBlockEnd("ResponsibleMandatory") %]

[% RenderBlockStart("State") %]
                        [% IF Data.StateMandatory %]
                            <label class="Mandatory" for="NewStateID"><span class="Marker">*</span>[% Translate("Next state") | html %]:</label>
                        [% ELSE %]
                            <label for="NewStateID">[% Translate("Next state") | html %]:</label>
                        [% END %]
                        <div class="Field">
                            [% Data.StateStrg %]
                            [% IF Data.StateMandatory %]
                                <div id="NewStateIDError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                                <div id="NewStateIDServerError" class="TooltipErrorMessage"><p>[% Translate("State invalid.") | html %]</p></div>
                            [% END %]
                        </div>
                        <div class="Clear"></div>
[% RenderBlockEnd("State") %]

[% RenderBlockStart("StatePending") %]
                        <label>[% Translate("Pending date") | html %]:</label>
                        <div class="Field">
                            [% Data.DateString %]
                            <div id="DayServerError" class="TooltipErrorMessage"><p>[% Translate("Date invalid!") | html %]</p></div>
                            <div id="HourServerError" class="TooltipErrorMessage"><p>[% Translate("Date invalid!") | html %]</p></div>
                            <p class="FieldExplanation">[% Translate("For all pending* states.") | html %]</p>
                        </div>
                        <div class="Clear"></div>
[% RenderBlockEnd("StatePending") %]

[% RenderBlockStart("Priority") %]
                        <label for="NewPriorityID">[% Translate("Priority") | html %]:</label>
                        <div class="Field">
                    [% Data.PriorityStrg %]
                        </div>
                        <div class="Clear"></div>
[% RenderBlockEnd("Priority") %]

[% RenderBlockStart("TicketTypeDynamicField") %]
                        <div class="Row Row_DynamicField_[% Data.Name | html %]">
                        [% Data.Label %]
                            <div class="Field">
                            [% Data.Field %]
                            </div>
                            <div class="Clear"></div>
                        </div>
[% RenderBlockEnd("TicketTypeDynamicField") %]

# Example of how to use fixed dynamic field blocks for customizations. Block below is for fields of type 'Ticket'.
#   NOTE: Field1 and Field2 are the names of the dynamic fields and have to be replaced with the actual field names.
#[% RenderBlockStart("TicketTypeDynamicField_Field1") %]
#                       <div class="Row Row_DynamicField_[% Data.Name | html %]">
#                           [% Data.Label %]
#                           <div class="Field">
#                               [% Data.Field %]
#                           </div>
#                           <div class="Clear"></div>
#                       </div>
#[% RenderBlockEnd("TicketTypeDynamicField_Field2") %]
#[% RenderBlockStart("TicketTypeDynamicField_Field2") %]
#                       <div class="Row Row_DynamicField_[% Data.Name | html %]">
#                           [% Data.Label %]
#                           <div class="Field">
#                               [% Data.Field %]
#                           </div>
#                           <div class="Clear"></div>
#                       </div>
#[% RenderBlockEnd("TicketTypeDynamicField_Field2") %]
                    </fieldset>
                </div>
            </div>
[% RenderBlockEnd("WidgetTicketActions") %]

[% RenderBlockStart("WidgetArticle") %]
                <div class="WidgetSimple [% Data.WidgetStatus | html %]" id="WidgetArticle">
                    <div class="Header">
                        <div class="WidgetAction Toggle">
                            <a href="#" title="[% Translate("Toggle this widget") | html %]"><i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i></a>
                        </div>
                        <h2>[% Translate("Add Article") | html %]</h2>
                    </div>
                    <div class="Content">

                        <fieldset class="TableLike FixedLabel">
[% IF Data.WidgetStatus == 'Expanded' %]
                            <input type="hidden" id="CreateArticle" name="CreateArticle" value="1" />
[% ELSE %]
                            <label for="CreateArticle">[% Translate("Create an Article") | html %]:</label>
                            <div class="Field">
                                <input type="checkbox" id="CreateArticle" name="CreateArticle" value="1" [% IF Data.CreateArticle %] checked="checked"[% END %] />
                            </div>
                            <div class="Clear"></div>
[% END %]
                        </fieldset>
[% RenderBlockStart("InformAdditionalAgents") %]
                        <fieldset class="TableLike FixedLabel">
[% RenderBlockStart("InformAgent") %]
                            <label for="InformUserID">[% Translate("Inform agents") | html %]:</label>
                            <div class="Field">
                            [% Data.OptionStrg %]
                            </div>
                            <div class="Clear"></div>
[% RenderBlockEnd("InformAgent") %]
[% RenderBlockStart("InvolvedAgent") %]
                            <label for="InvolvedUserID">[% Translate("Inform involved agents") | html %]:</label>
                            <div class="Field">
                            [% Data.InvolvedAgentStrg %]
                            </div>
                            <div class="Clear"></div>
[% RenderBlockEnd("InvolvedAgent") %]
                            <div class="Field">
                                <p class="FieldExplanation">
                                    [% Translate("Here you can select additional agents which should receive a notification regarding the new article.") | html %]
                                </p>
                            </div>
                        </fieldset>
[% RenderBlockEnd("InformAdditionalAgents") %]
[% RenderBlockStart("InformAgentsWithoutSelection") %]
                        <fieldset class="TableLike FixedLabel">
                            <label>[% Translate("Text will also be received by") | html %]:</label>
                            <div class="Field">
                                <input type="hidden" name="UserListWithoutSelection" value="[% Data.UserListWithoutSelection  | html %]" />
[% RenderBlockStart("InformAgentsWithoutSelectionSingleUser") %]
                                <span title="[% Data.UserEmail %]">[% Data.UserFullname %]</span>[% RenderBlockStart("InformAgentsWithoutSelectionSingleUserSeparator") %],[% RenderBlockEnd("InformAgentsWithoutSelectionSingleUserSeparator") %]
[% RenderBlockEnd("InformAgentsWithoutSelectionSingleUser") %]
                            </div>
                            <div class="Clear"></div>
                        </fieldset>
[% RenderBlockEnd("InformAgentsWithoutSelection") %]

                        <fieldset class="TableLike FixedLabel">
[% RenderBlockStart("SubjectLabel") %]
                            <label for="Subject">[% Translate("Subject") | html %]:</label>
[% RenderBlockEnd("SubjectLabel") %]
[% RenderBlockStart("SubjectLabelMandatory") %]
                            <label class="Mandatory" for="Subject"><span class="Marker">*</span>[% Translate("Subject") | html %]:</label>
[% RenderBlockEnd("SubjectLabelMandatory") %]
                            <div class="Field">
                                <input type="text" id="Subject" name="Subject" value="[% Data.Subject | html %]" class="W75pc Validate [% Data.SubjectInvalid %] [% Data.SubjectRequired %]"/>
                                <div id="SubjectError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                                <div id="SubjectServerError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                            </div>
                            <div class="Clear"></div>
[% RenderBlockStart("TicketOptions") %]
                            <label>[% Translate("Options") | html %]:</label>
                            <div class="Field">

<!-- OutputFilterHook_TicketOptionsBegin -->
<!-- OutputFilterHook_TicketOptionsEnd -->

                            </div>
                            <div class="Clear"></div>
[% RenderBlockEnd("TicketOptions") %]

<!-- OutputFilterHook_NoTicketOptionsFallback -->

[% RenderBlockStart("StandardTemplate") %]
                            <label for="StandardTemplateID">[% Translate("Text Template") | html %]:</label>
                            <div class="Field">
                                [% Data.StandardTemplateStrg %]
                                <p class="FieldExplanation">[% Translate("Setting a template will overwrite any text or attachment.") | html %]</p>
                            </div>
                            <div class="Clear"></div>
[% RenderBlockEnd("StandardTemplate") %]

[% RenderBlockStart("RichTextLabel") %]
                            <label for="RichText">[% Translate("Text") | html %]:</label>
[% RenderBlockEnd("RichTextLabel") %]
[% RenderBlockStart("RichTextLabelMandatory") %]
                            <label class="Mandatory" for="RichText"><span class="Marker">*</span>[% Translate("Text") | html %]:</label>
[% RenderBlockEnd("RichTextLabelMandatory") %]

                            <div id="RichTextField" class="RichTextField">
                                <textarea id="RichText" class="RichText Validate [% Data.BodyInvalid %] [% Data.BodyRequired %]" name="Body" rows="15" cols="[% Config("Ticket::Frontend::TextAreaNote") %]">[% Data.Body | html %]</textarea>
                                <div id="RichTextError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                                <div id="RichTextServerError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                            </div>
                            <div class="Clear"></div>

                            <label>[% Translate("Attachments") | html %]:</label>
                            <div class="Field">
[% INCLUDE "FormElements/AttachmentList.tt" %]
                            </div>
                            <div class="Clear"></div>

                            <label for="IsVisibleForCustomer">[% Translate("Is visible for customer") | html %]:</label>
                            <div class="Field">
                                <input type="checkbox" name="IsVisibleForCustomer" id="IsVisibleForCustomer"
                                    [% IF Data.IsVisibleForCustomer %]checked="checked" [% END %]/>
                            </div>
                            <div class="Clear"></div>

[% RenderBlockStart("TimeUnitsLabel") %]
                            <label for="TimeUnits">[% Translate("Time units") | html %] [% Translate(Config("Ticket::Frontend::TimeUnits")) | html %]:</label>
[% RenderBlockEnd("TimeUnitsLabel") %]
[% RenderBlockStart("TimeUnitsLabelMandatory") %]
                            <label class="Mandatory" for="TimeUnits"><span class="Marker">*</span>[% Translate("Time units") | html %] [% Translate(Config("Ticket::Frontend::TimeUnits")) | html %]:</label>
[% RenderBlockEnd("TimeUnitsLabelMandatory") %]
[% RenderBlockStart("TimeUnits") %]
                            <div class="Field">
                                <input type="text" name="TimeUnits" id="TimeUnits" value="[% Data.TimeUnits | html %]" class="W50pc Validate_TimeUnits [% Data.TimeUnitsRequired | html %] [% Data.TimeUnitsInvalid | html %]"/>
                                <div id="TimeUnitsError" class="TooltipErrorMessage"><p>[% Translate("Invalid time!") | html %]</p></div>
                                <div id="TimeUnitsServerError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                            </div>
                            <div class="Clear"></div>
[% RenderBlockEnd("TimeUnits") %]

[% RenderBlockStart("ArticleTypeDynamicField") %]
                            <div class="Row Row_DynamicField_[% Data.Name | html %]">
                            [% Data.Label %]
                                <div class="Field">
                                [% Data.Field %]
[% RenderBlockStart("ArticleTypeDynamicFieldError") %]
                                    <div id="DynamicField_[% Data.Name %]Error" class="TooltipErrorMessage">
                                        <p>[% Translate("This field is required.") | html %]</p>
                                    </div>
[% RenderBlockEnd("ArticleTypeDynamicFieldError") %]
                                </div>
                                <div class="Clear"></div>
                            </div>
[% RenderBlockEnd("ArticleTypeDynamicField") %]

# Example of how to use fixed dynamic field blocks for customizations. Block below is for fields of type 'Article'.
#   NOTE: Field1 and Field2 are the names of the dynamic fields and have to be replaced with the actual field names.
#[% RenderBlockStart("ArticleTypeDynamicField_Field1") %]
#                            <div class="Row Row_DynamicField_[% Data.Name | html %]">
#                                [% Data.Label %]
#                                <div class="Field">
#                                [% Data.Field %]
#                                [% IF (Data.MandatoryTooltip) %]
#                                    <div id="DynamicField_[% Data.Name %]Error" class="TooltipErrorMessage">
#                                        <p>[% Translate("This field is required.") | html %]</p>
#                                    </div>
#                                [% END %]
#                                </div>
#                                <div class="Clear"></div>
#                            </div>
#[% RenderBlockEnd("ArticleTypeDynamicField_Field1") %]
#[% RenderBlockStart("ArticleTypeDynamicField_Field2") %]
#                            <div class="Row Row_DynamicField_[% Data.Name | html %]">
#                                [% Data.Label %]
#                                <div class="Field">
#                                [% Data.Field %]
#                                [% IF (Data.MandatoryTooltip) %]
#                                    <div id="DynamicField_[% Data.Name %]Error" class="TooltipErrorMessage">
#                                        <p>[% Translate("This field is required.") | html %]</p>
#                                    </div>
#                                [% END %]
#                                </div>
#                                <div class="Clear"></div>
#                            </div>
#[% RenderBlockEnd("ArticleTypeDynamicField_Field2") %]
                        </fieldset>
                    </div>
                </div>
[% RenderBlockEnd("WidgetArticle") %]

            </div>
            <div class="Footer">
                <button class="CallForAction Primary" id="submitRichText" accesskey="g" title="[% Translate("Submit") | html %] (g)" type="submit" value="[% Translate("Submit") | html %]">
                    <span><i class="fa fa-check-square-o"></i> [% Translate("Submit") | html %]</span>
                </button>
                [% INCLUDE "FormElements/DraftButtons.tt" %]
            </div>
        </div>
    </form>
[% RenderBlockEnd("Properties") %]
