# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

<div class="LayoutPopup ARIARoleMain">

    <div class="Header">
        <h1>
            [% Translate("Manage links for %s", Data.SourceObjectLong) | html %]
        </h1>
        <p>
            <a href="[% Env("Baselink") %]Action=[% Env("Action") %];Subaction=Close" id="LinkAddCloseLink">[% Translate("Close this dialog") | html %]</a>
        </p>
    </div>
    <div class="Content">

        <div class="WidgetSimple Tabs">
            <div class="Header">
                <a href="#AddNewLinks" [% IF !Data.ActiveTab || Data.ActiveTab == 'AddNewLinks' %]class="Active"[% END %]>[% Translate("Create new links") | html %]</a>
                <a href="#ManageLinks" class="[% IF Data.ActiveTab == 'ManageLinks' %]Active[% END %] [% IF Data.ManageTabDisabled %]Disabled[% END %]">[% Translate("Manage existing links") | html %]</a>
            </div>

            <div class="Content">
                <div data-id="AddNewLinks" [% IF !Data.ActiveTab || Data.ActiveTab == 'AddNewLinks' %]class="Active"[% END %]>
                [% RenderBlockStart("Link") %]
                    <form action="[% Env("CGIHandle") %]" method="post" name="compose" id="LinkSearchForm">
                        <input type="hidden" name="Action" value="[% Env("Action") %]" />
                        <input type="hidden" name="Mode" value="[% Data.Mode | html %]" />
                        <input type="hidden" name="SourceObject" value="[% Data.SourceObject | html %]" />
                        <input type="hidden" name="SourceKey" value="[% Data.SourceKey | html %]" />

                        <fieldset class="TableLike">
                            <label for="TargetIdentifier">
                                [% Translate("Link with") | html %]:
                            </label>
                            <div class="Field">
                                [% Data.TargetObjectStrg %]
                            </div>
                            [% RenderBlockStart("LinkSearchRow") %]
                            <label for="[% Data.FormKey | html %]">
                                [% Translate(Data.Name) | html %]:
                            </label>
                            <div class="Field">
                                [% Data.InputStrg %]
                            </div>
                            [% RenderBlockEnd("LinkSearchRow") %]
                            <div class="Field SpacingTopSmall">
                                <button type="submit" id="SubmitSearch" name="SubmitSearch" class="CallForAction" value="[% Translate("Search") | html %]"><span><i class="fa fa-search"></i> [% Translate("Start search") | html %]</span></button>
                            </div>
                        </fieldset>
                        [% RenderBlockStart("LinkTableComplex") %]
                            [% Data.LinkTableStrg %]
                        [% RenderBlockEnd("LinkTableComplex") %]
                    </form>
                [% RenderBlockEnd("Link") %]
                </div>

                <div data-id="ManageLinks" class="[% IF Data.ActiveTab == 'ManageLinks' %]Active[% END %] [% IF Data.ManageTabDisabled %]Disabled[% END %]">
                [% RenderBlockStart("Delete") %]
                    <form action="[% Env("CGIHandle") %]" method="get">
                        <input type="hidden" name="Action" value="[% Env("Action") %]" />
                        <input type="hidden" name="Subaction" value="LinkDelete" />
                        <input type="hidden" name="Mode" value="[% Data.Mode | html %]" />
                        <input type="hidden" name="SourceObject" value="[% Data.SourceObject | html %]" />
                        <input type="hidden" name="SourceKey" value="[% Data.SourceKey | html %]" />
                        <input type="hidden" name="TargetIdentifier" value="[% Data.TargetIdentifier | html %]" />
                        [% RenderBlockStart("DeleteTableComplex") %]
                            [% IF !Data.LinkTableStrg %]
                                <p>[% Translate("There are currently no links. Please click 'Create new Links' on the top to link this item to other objects.") | html %]</p>
                            [% ELSE %]
                                [% Data.LinkTableStrg %]
                            [% END %]
                        [% RenderBlockEnd("DeleteTableComplex") %]
                    </form>
                [% RenderBlockEnd("Delete") %]
                </div>
            </div>
        </div>
    </div>
</div>
