# --
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
(function(){
    var Timeout = 500;
    window.setTimeout(function () {
        Core.UI.AdvancedChart.Init("LineSimple", [% Data.ChartData %], 'svg.GraphWidget[% Data.Key | html %]');
    }, Timeout);
}());
//]]></script>
[% END %]
<svg style="height: 250px;" class="D3GraphCanvas GraphWidget[% Data.Key | html %]" id="GraphWidget[% Data.Key | html %]"></svg>
