# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

[% RenderBlockStart("ContentLargeTicketGenericFilter") %]
<div class="DashboardActions">

    <ul class="Tab Actions">
[% RenderBlockStart("ContentLargeTicketGenericFilterAssignedToCustomerUser") %]
        <li class="AdditionalFilter [% Data.item("AssignedToCustomerUser::Selected") | html %]"><a href="#" id="DashboardAdditionalFilter[% Data.Name | html %]AssignedToCustomerUser" data-filter="AssignedToCustomerUser">[% Translate("Assigned to customer user") | html %]</a></li>
[% RenderBlockEnd("ContentLargeTicketGenericFilterAssignedToCustomerUser") %]
[% RenderBlockStart("ContentLargeTicketGenericFilterAccessibleForCustomerUser") %]
        <li class="AdditionalFilter [% Data.item("AccessibleForCustomerUser::Selected") | html %]"><a href="#" id="DashboardAdditionalFilter[% Data.Name | html %]AccessibleForCustomerUser" data-filter="AccessibleForCustomerUser">[% Translate("Accessible for customer user") | html %]</a></li>
[% RenderBlockEnd("ContentLargeTicketGenericFilterAccessibleForCustomerUser") %]
[% RenderBlockStart("ContentLargeTicketGenericFilterLocked") %]
        <li class="[% Data.item("Locked::Selected") | html %]"><a href="#" id="Dashboard[% Data.Name | html %]Locked" data-filter="Locked">[% Translate("My locked tickets") | html %] ([% Data.Locked | html %])</a></li>
[% RenderBlockEnd("ContentLargeTicketGenericFilterLocked") %]
[% RenderBlockStart("ContentLargeTicketGenericFilterWatcher") %]
        <li class="[% Data.item("Watcher::Selected") | html %]"><a href="#" id="Dashboard[% Data.Name | html %]Watcher" data-filter="Watcher">[% Translate("My watched tickets") | html %] ([% Data.Watcher | html %])</a></li>
[% RenderBlockEnd("ContentLargeTicketGenericFilterWatcher") %]
[% RenderBlockStart("ContentLargeTicketGenericFilterResponsible") %]
        <li class="[% Data.item("Responsible::Selected") | html %]"><a href="#" id="Dashboard[% Data.Name | html %]Responsible" data-filter="Responsible">[% Translate("My responsibilities") | html %] ([% Data.Responsible | html %])</a></li>
[% RenderBlockEnd("ContentLargeTicketGenericFilterResponsible") %]
[% RenderBlockStart("ContentLargeTicketGenericFilterMyQueues") %]
        <li class="[% Data.item("MyQueues::Selected") | html %]"><a href="#" id="Dashboard[% Data.Name | html %]MyQueues" data-filter="MyQueues">[% Translate("Tickets in My Queues") | html %] ([% Data.MyQueues | html %])</a></li>
[% RenderBlockEnd("ContentLargeTicketGenericFilterMyQueues") %]
[% RenderBlockStart("ContentLargeTicketGenericFilterMyServices") %]
        <li class="[% Data.item("MyServices::Selected") | html %]"><a href="#" id="Dashboard[% Data.Name | html %]MyServices" data-filter="MyServices">[% Translate("Tickets in My Services") | html %] ([% Data.MyServices | html %])</a></li>
[% RenderBlockEnd("ContentLargeTicketGenericFilterMyServices") %]
        <li class="[% Data.item("All::Selected") | html %] Last"><a href="#" id="Dashboard[% Data.Name | html %]All" data-filter="All">[% Translate("All tickets") | html %] ([% Data.All | html %])</a></li>
    </ul>
</div>

[% RenderBlockStart("ContentLargeTicketGenericFilterNavBar") %]
<span class="Pagination">
    [% Data.SiteNavBar %]
</span>
[% RenderBlockEnd("ContentLargeTicketGenericFilterNavBar") %]
[% RenderBlockEnd("ContentLargeTicketGenericFilter") %]

#<!-- This form will not be submitted, we need it for the AJAX calls. -->
<form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data">
    <input type="hidden" name="CustomerID" value="[% Data.CustomerID | html %]"/>
    <input type="hidden" name="CustomerUserID" value="[% Data.CustomerUserID | html %]"/>
    <input type="hidden" name="Filter[% Data.Name | html %]" id="Filter[% Data.Name | html %]" value="[% Data.FilterValue | html %]" />
    <input type="hidden" name="AdditionalFilter[% Data.Name | html %]" id="AdditionalFilter[% Data.Name | html %]" value="[% Data.AdditionalFilterValue | html %]" />
    <table class="DataTable">
        <thead>
[% RenderBlockStart("ContentLargeTicketGenericHeader") %]
            <tr>

[% RenderBlockStart("GeneralOverviewHeader") %]

[% RenderBlockStart("ContentLargeTicketGenericHeaderMeta") %]
                <th class="DashboardHeader [% Data.CSS | html %]" data-column="[% Data.HeaderColumnName | html %]" title="[% Translate(Data.Title) | html %]">
[% RenderBlockStart("ContentLargeTicketGenericHeaderMetaLink") %]
                    <a id="[% Data.HeaderColumnName | html %]FlagOverviewControl[% Data.Name | html %]" name="[% Data.HeaderColumnName | html %]OverviewControl[% Data.Name | html %]" href="#" title="[% Translate(Data.Title) | html %]"></a>

[% RenderBlockEnd("ContentLargeTicketGenericHeaderMetaLink") %]
[% RenderBlockStart("ContentLargeTicketGenericHeaderMetaEmpty") %]
                    <span title="[% Translate(Data.HeaderColumnName) | html %]"></span>
[% RenderBlockEnd("ContentLargeTicketGenericHeaderMetaEmpty") %]
                </th>
[% RenderBlockEnd("ContentLargeTicketGenericHeaderMeta") %]

[% RenderBlockStart("ContentLargeTicketGenericHeaderTicketHeader") %]
[% RenderBlockStart("ContentLargeTicketGenericHeaderTicketNumberColumn") %]
                <th class="DashboardHeader TicketNumber [% Data.CSS | html %]" data-column="TicketNumber">
                    <a id="TicketNumberOverviewControl[% Data.Name | html %]" name="TicketNumberOverviewControl[% Data.Name | html %]" href="#" title="[% Data.Title | html %]" >[% Config("Ticket::Hook") %]</a>
                </th>
[% RenderBlockEnd("ContentLargeTicketGenericHeaderTicketNumberColumn") %]

[% RenderBlockStart("ContentLargeTicketGenericHeaderColumn") %]
                <th class="DashboardHeader [% Data.HeaderColumnName | html %] [% Data.CSS | html %]" data-column="[% Data.HeaderColumnName | html %]">

[% RenderBlockStart("ContentLargeTicketGenericHeaderColumnFilterLink") %]
                    <a href="#" class="ColumnSettingsTrigger" title="[% Data.FilterTitle | html %]">
                        <i class="fa fa-filter"></i>
                    </a>
                    <div class="ColumnSettingsContainer">
                        <div class="ColumnSettingsBox">
                            [% Data.ColumnFilterStrg %]
[% RenderBlockStart("ContentLargeTicketGenericHeaderColumnFilterLinkCustomerIDSearch") %]
                            <input type="text" class="CustomerIDAutoComplete" autocomplete="off" />
[% RenderBlockEnd("ContentLargeTicketGenericHeaderColumnFilterLinkCustomerIDSearch") %]

[% RenderBlockStart("ContentLargeTicketGenericHeaderColumnFilterLinkUserSearch") %]
                            <input type="text" class="UserAutoComplete" autocomplete="off" />
[% RenderBlockEnd("ContentLargeTicketGenericHeaderColumnFilterLinkUserSearch") %]
                            <a href="#" class="DeleteFilter Hidden"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </div>

                    <a id="[% Data.HeaderColumnName | html %]OverviewControl[% Data.Name | html %]" name="[% Data.HeaderColumnName | html %]OverviewControl[% Data.Name | html %]" href="#" title="[% Data.Title | html %]" >[% Data.HeaderNameTranslated | html %]</a>

[% RenderBlockEnd("ContentLargeTicketGenericHeaderColumnFilterLink") %]

[% RenderBlockStart("ContentLargeTicketGenericHeaderColumnLink") %]
                    <a id="[% Data.HeaderColumnName | html %]OverviewControl[% Data.Name | html %]" name="[% Data.HeaderColumnName | html %]OverviewControl[% Data.Name | html %]" href="#" title="[% Data.Title | html %]" >[% Data.HeaderNameTranslated | html %]</a>
[% RenderBlockEnd("ContentLargeTicketGenericHeaderColumnLink") %]

[% RenderBlockStart("ContentLargeTicketGenericHeaderColumnFilter") %]
                    <a href="#" class="ColumnSettingsTrigger" title="[% Data.FilterTitle | html %]">
                        <i class="fa fa-filter"></i>
                    </a>
                    <div class="ColumnSettingsContainer">
                        <div class="ColumnSettingsBox">
                            [% Data.ColumnFilterStrg %]
[% RenderBlockStart("ContentLargeTicketGenericHeaderColumnFilterLinkCustomerUserSearch") %]
                            <input type="text" class="CustomerUserAutoComplete" autocomplete="off" />
[% RenderBlockEnd("ContentLargeTicketGenericHeaderColumnFilterLinkCustomerUserSearch") %]
                            <a href="#" class="DeleteFilter Hidden"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </div>
                    <span class="Gray" title="[% Data.Title | html %]" >[% Data.HeaderNameTranslated | html %]</span>
[% RenderBlockEnd("ContentLargeTicketGenericHeaderColumnFilter") %]

[% RenderBlockStart("ContentLargeTicketGenericHeaderColumnEmpty") %]
                    <span class="Gray" title="[% Data.Title | html %]" >[% Data.HeaderNameTranslated %]</span>
[% RenderBlockEnd("ContentLargeTicketGenericHeaderColumnEmpty") %]
                </th>
[% RenderBlockEnd("ContentLargeTicketGenericHeaderColumn") %]
[% RenderBlockEnd("ContentLargeTicketGenericHeaderTicketHeader") %]

[% RenderBlockEnd("GeneralOverviewHeader") %]

            </tr>

[% RenderBlockEnd("ContentLargeTicketGenericHeader") %]
        </thead>

        <tbody>
[% RenderBlockStart("ContentLargeTicketGenericRow") %]
            <tr class="MasterAction">

[% RenderBlockStart("GeneralOverviewRow") %]

[% RenderBlockStart("ContentLargeTicketGenericRowMeta") %]
                <td class="[% Data.ClassTable | html %] Flags" title="[% Translate(Data.Title) | html %]">
[% RenderBlockStart("ContentLargeTicketGenericRowMetaImage") %]
                    <div class="[% Data.Class | html %] Small" title="[% Translate(Data.Title) | html %]">
                        <span class="[% Data.ClassSpan | html %]">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <em>[% Translate(Data.Title) | html %]</em>
                        </span>
                    </div>
[% RenderBlockEnd("ContentLargeTicketGenericRowMetaImage") %]
                </td>
[% RenderBlockEnd("ContentLargeTicketGenericRowMeta") %]

#            <td class="W10pc">
#                <a href="[% Env("Baselink") %]Action=AgentTicketZoom;TicketID=[% Data.TicketID %]" title="[% Data.Title | html %]" class="AsBlock MasterActionLink">[% Data.TicketNumber %]</a>
#            </td>
#            <td class="W50pc">
#                <div title="[% Data.Title | html %]">[% Data.Title | truncate(70) | html %]</div>
#            </td>
#            <td>[% Data.Time | html %]</td>

[% RenderBlockStart("ContentLargeTicketGenericTicketColumn") %]
[% RenderBlockStart("ContentLargeTicketGenericTicketNumber") %]
                <td>
                    <a href="[% Env("Baselink") %]Action=AgentTicketZoom;TicketID=[% Data.TicketID %]" title="[% Data.Title | html %]" class="AsBlock MasterActionLink">[% Data.TicketNumber %]</a>
                </td>
[% RenderBlockEnd("ContentLargeTicketGenericTicketNumber") %]
[% RenderBlockStart("ContentLargeTicketGenericEscalationTime") %]
                <td>
                    <div title="[% Translate("Service Time") | html %]: [% Data.EscalationTimeWorkingTime | html %] - [% Data.EscalationDestinationDate | Localize("TimeShort") %]" class="[% Data.EscalationClass | html %]">[% Data.EscalationTimeHuman | html %]<br/>[% Data.UpdateTimeDestinationDate | Localize("TimeShort") %]</div>
                </td>
[% RenderBlockEnd("ContentLargeTicketGenericEscalationTime") %]
[% RenderBlockStart("ContentLargeTicketGenericColumn") %]
                <td>
                    <div title="[% Data.GenericValue | html %]">[% Data.GenericValue | truncate(40) | html %]</div>
                </td>
[% RenderBlockEnd("ContentLargeTicketGenericColumn") %]
[% RenderBlockStart("ContentLargeTicketTitle") %]
                <td>
                    <div title="[% Data.WholeTitle | html %]">[% Data.Title | html %]</div>
                </td>
[% RenderBlockEnd("ContentLargeTicketTitle") %]
[% RenderBlockStart("ContentLargeTicketGenericColumnTranslatable") %]
                <td>
                    <div title="[% Translate(Data.GenericValue) | html %]">[% Translate(Data.GenericValue) | html %]</div>
                </td>
[% RenderBlockEnd("ContentLargeTicketGenericColumnTranslatable") %]
[% RenderBlockStart("ContentLargeTicketGenericColumnTime") %]
                <td>
                    <div title="[% Data.GenericValue | Localize("TimeShort") | html %]">[% Data.GenericValue | Localize("TimeShort") %]</div>
                </td>
[% RenderBlockEnd("ContentLargeTicketGenericColumnTime") %]
[% RenderBlockStart("ContentLargeTicketGenericColumnEscalation") %]
                <td>
                    <div title="[% Data.GenericValue | html %]" class="[% Data.Class | html %]">[% Data.GenericValue | html %]</div>
                </td>
[% RenderBlockEnd("ContentLargeTicketGenericColumnEscalation") %]
[% RenderBlockEnd("ContentLargeTicketGenericTicketColumn") %]

[% RenderBlockStart("ContentLargeTicketGenericDynamicField") %]
                <td>
                    <div title="[% Data.Title | html %]">
[% RenderBlockStart("ContentLargeTicketGenericDynamicFieldLink") %]
                        <a href="[% Data.Link | Interpolate %]"  target="_blank" class="DynamicFieldLink">[% Data.Value %]</a>
[% RenderBlockEnd("ContentLargeTicketGenericDynamicFieldLink") %]
[% RenderBlockStart("ContentLargeTicketGenericDynamicFieldPlain") %]
                        [% Data.Value %]
[% RenderBlockEnd("ContentLargeTicketGenericDynamicFieldPlain") %]
                    </div>
                </td>
[% RenderBlockEnd("ContentLargeTicketGenericDynamicField") %]

[% RenderBlockEnd("GeneralOverviewRow") %]
            </tr>
[% RenderBlockEnd("ContentLargeTicketGenericRow") %]
[% RenderBlockStart("ContentLargeTicketGenericNone") %]
            <tr>
                <td class="AutoColspan">
                    [% Translate("none") | html %]
                </td>
            </tr>
[% RenderBlockEnd("ContentLargeTicketGenericNone") %]
        </tbody>
    </table>
</form>
