# --
# Copyright (C) 2001-2018 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% IF Data.OTRSSTORMIsInstalled %]
    [% SET OTRSBusinessLabel = '<strong>STORM powered by OTRS</strong>™' %]
[% ELSE %]
    [% SET OTRSBusinessLabel = '<strong>OTRS Business Solution</strong>™' %]
[% END %]

<div class="MainBox ARIARoleMain LayoutFixedSidebar SidebarFirst">
    <h1>[% Translate("Unauthorized usage of %s detected") | html | ReplacePlaceholders(OTRSBusinessLabel) %]</h1>

    <div class="SidebarColumn">
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Actions") | html %]</h2>
            </div>
            <div class="Content">
                <ul class="ActionList">
                    <li>
                        <a href="[% Env("Baselink") %]Action=AdminOTRSBusiness;Subaction=Uninstall" class="CallForAction Fullsize Center">
                            <span><i class="fa fa-angle-double-down"></i> [% Translate("Downgrade to ((OTRS)) Community Edition") | html %]</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="Clear"></div>
        </div>
    </div>
    <div class="ContentColumn">
        <div class="WidgetSimple">
            <div class="Header">
                <h2 class="Center">[% Translate("Unauthorized Usage Detected") | html %]</h2>
            </div>
            <div class="Content">
                <div class="BusinessLogo Error">
                    <span></span>
                    <i class="fa fa-times-circle"></i>
                </div>
                <p class="Center">
                    [% Translate('This system uses the %s without a proper license! Please make contact with %s to renew or activate your contract!') | html | ReplacePlaceholders(OTRSBusinessLabel, '<a href="mailto:sales@otrs.com">sales@otrs.com</a>') %]
                </p>
                <p class="Center SpacingTop">
                    [% Translate('If you decide to downgrade to ((OTRS)) Community Edition, you will lose all database tables and data related to %s.') | html | ReplacePlaceholders(OTRSBusinessLabel) %]
                </p>
            </div>
            <div class="Clear"></div>
        </div>
    </div>
</div>
