# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

<div id="NavigationContainer">
    <ul id="Navigation" class="Draggable ARIARoleNavigation" style="visibility: hidden;">
[% RenderBlockStart("ItemArea") %]
        <li id="nav-[% Data.NameForID | html %]" class="[% Data.CSS | html %]">
            <a href="[% Env("Baselink") %][% Data.Link %]" title="[% Translate(Data.Name) | html %][% Data.AccessKeyReference | html %]" accesskey="[% Data.AccessKey | html %]" [% Data.LinkOption %]>[% Translate(Data.Name) | html %]</a>
[% RenderBlockStart("ItemAreaSub") %]
            <ul id="nav-[% Data.NameForID | html %]-container">
[% RenderBlockStart("ItemAreaSubItem") %]
                <li id="nav-[% Data.NameTop | html %]-[% Data.NameForID | html %]">
                    <a href="[% Env("Baselink") %][% Data.Link %]" title="[% Translate(Data.Description) | html %][% Data.AccessKeyReference | html %]" accesskey="[% Data.AccessKey | html %]" [% Data.LinkOption %]>[% Translate(Data.Name) | html %]</a>
                </li>
[% RenderBlockEnd("ItemAreaSubItem") %]
            </ul>
[% RenderBlockEnd("ItemAreaSub") %]
        </li>
[% RenderBlockEnd("ItemArea") %]
[% RenderBlockStart("SearchIcon") %]
        <li id="nav-search">
            <a class="Search ScreenXL ARIARoleSearch ARIAHasPopup" id="GlobalSearchNav" href="[% Env("Baselink") %]Action=AgentTicketSearch" title="[% Translate("Search") | html %]">
                <i class="fa fa-search"></i>
            </a>
            <a class="Search SmallerOrEqualScreenL ARIARoleSearch ARIAHasPopup" id="GlobalSearchNavResponsive" href="[% Env("Baselink") %]Action=AgentTicketSearch" title="[% Translate("Search") | html %]">
                [% Translate("Search") | html %]
            </a>
        </li>
[% RenderBlockEnd("SearchIcon") %]
    </ul>
</div>
