# --
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% RenderBlockStart("Body") %]
<div class="MainBox ARIARoleMain PreferencesScreen">

    <div class="LayoutGrid ColumnsWithSpacing">

[% RenderBlockStart("Column") %]
        <div class="Size1of3">
            <div class="WidgetSimple">
                <div class="Header">
                    <div class="WidgetAction Toggle">
                        <a href="#" title="[% Translate("Show or hide the content") | html %]"><i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i></a>
                    </div>
                    <h2>[% Translate(Data.Header) | html %]</h2>
                </div>
                <div class="Content">

[% RenderBlockStart("Item") %]
                    <form action="[% Env("CGIHandle") %]" method="post" class="Validate">
                        <input type="hidden" name="Action" value="[% Env("Action") %]"/>
                        <input type="hidden" name="Subaction" value="Update"/>
                        <input type="hidden" name="Group" value="[% Data.Group | html %]"/>

                        <div class="WidgetSimple">
                            <div class="Header"><h2>[% Translate(Data.Label) | html %]</h2></div>
                            <div class="Content">
                            [% IF Data.Desc %]
                                <p class="FieldExplanation">
                                    [% Translate(Data.Desc) | html %]
                                </p>
                            [% END %]
                                <fieldset class="TableLike">
[% RenderBlockStart("Block") %]
[% RenderBlockStart("InputKey") %]
                                    <label for="[% Data.Name | html %]">[% Translate(Data.Key) | html %]:</label>
                                    <div class="Field">
                                        <input type="text" name="[% Data.Name | html %]" id="[% Data.Name | html %]" value="[% Data.SelectedID | html %]" />
                                    </div>
                                    <div class="Clear"></div>
[% RenderBlockStart("InputKeySingleBlock") %]
                                    <div class="Field ButtonOnly">
                                        <button type="submit" id="[% Data.Name | html %]Update" value="[% Translate("Update") | html %]" class="CallForAction"><span>[% Translate("Update") | html %]</span></button>
                                    </div>
[% RenderBlockEnd("InputKeySingleBlock") %]
[% RenderBlockEnd("InputKey") %]
[% RenderBlockStart("Input") %]
                                    <label for="[% Data.Name | html %]">[% Translate(Data.Key) | html %]:</label>
                                    <div class="Field">
                                        <input type="text" name="[% Data.Name | html %]" id="[% Data.Name | html %]" value="[% Data.SelectedID | html %]" />
                                    </div>
                                    <div class="Clear"></div>
[% RenderBlockStart("InputSingleBlock") %]
                                    <div class="Field ButtonOnly">
                                        <button type="submit" id="[% Data.Name | html %]Update" value="[% Translate("Update") | html %]">[% Translate("Update") | html %]</button>
                                    </div>
[% RenderBlockEnd("InputSingleBlock") %]
[% RenderBlockEnd("Input") %]
[% RenderBlockStart("Option") %]
                                [% IF Data.Key %]
                                    <label for="[% Data.Name | html %]">[% Translate(Data.Key) | html %]:</label>
                                [% END %]
                                    <div class="Field[% IF !Data.Key %] NoMargin[% END %]">
                                        [% Data.Option %]
                                    </div>
                                    <div class="Clear"></div>
                                [% IF Data.Label == 'Language' %]
                                    <div class="FieldExplanation Language Center">
                                        [% Translate("Did you know? You can help translating OTRS at %s.", '<a href="https://www.transifex.com/projects/p/OTRS/" target="_blank">Transifex</a>') %]
                                    </div>
                                [% END %]
[% RenderBlockStart("OptionSingleBlock") %]
                                    <div class="Field ButtonOnly">
                                        <button type="submit" id="[% Data.Name | html %]Update" value="[% Translate("Update") | html %]" class="CallForAction"><span>[% Translate("Update") | html %]</span></button>
                                    </div>
[% RenderBlockEnd("OptionSingleBlock") %]
[% RenderBlockEnd("Option") %]
[% RenderBlockStart("Upload") %]
                                    <label for="[% Data.Name | html %]">[% Translate(Data.Key) | html %]:</label>
                                    <div class="Field">
                                        <input name="[% Data.Name | html %]" id="[% Data.Name | html %]" type="file" size="20" class="fixed"/>
                                        <br/>
                                        <a href="">[% Data.Filename | html %]</a>
                                    </div>
                                    <div class="Clear"></div>
[% RenderBlockStart("UploadSingleBlock") %]
                                    <div class="Field ButtonOnly">
                                        <button type="submit" id="[% Data.Name | html %]Update" value="[% Translate("Update") | html %]" class="CallForAction"><span>[% Translate("Update") | html %]</span></button>
                                    </div>
[% RenderBlockEnd("UploadSingleBlock") %]
[% RenderBlockEnd("Upload") %]
[% RenderBlockStart("Password") %]
                                    <label for="[% Data.Name | html %]">[% Translate(Data.Key) | html %]:</label>
                                    <div class="Field">
                                        <input name="[% Data.Name | html %]" id="[% Data.Name | html %]" type="password" autocomplete="off"/>
                                    </div>
                                    <div class="Clear"></div>
[% RenderBlockStart("PasswordSingleBlock") %]
                                    <div class="Field ButtonOnly">
                                        <button type="submit" id="[% Data.Name | html %]Update" value="[% Translate("Update") | html %]" class="CallForAction"><span>[% Translate("Update") | html %]</span></button>
                                    </div>
[% RenderBlockEnd("PasswordSingleBlock") %]
[% RenderBlockEnd("Password") %]
[% RenderBlockStart("OutOfOffice") %]
                                    <div class="Row OutOfOffice">
                                        <p class="FieldExplanation">[% Translate(Data.Key) | html %]</p>
                                        <label>[% Translate("Active") | html %]:</label>
                                        <div class="Field">
                                            <input type="radio" name="OutOfOffice" id="OutOfOfficeOn" value="1" [% Data.OutOfOfficeOn %] />
                                            <label for="OutOfOfficeOn">[% Translate("On") | html %]</label>
                                            <input type="radio" name="OutOfOffice" id="OutOfOfficeOff" value="0" [% Data.OutOfOfficeOff %] />
                                            <label for="OutOfOfficeOff">[% Translate("Off") | html %]</label>
                                        </div>
                                        <div class="Clear"></div>
                                        <label>[% Translate("Start") | html %]:</label>
                                        <div class="Field">
                                            [% Data.OptionStart %]
                                        </div>
                                        <div class="Clear"></div>
                                        <label>[% Translate("End") | html %]:</label>
                                        <div class="Field">
                                            [% Data.OptionEnd %]
                                        </div>
                                        <div class="Clear"></div>
                                    </div>
[% RenderBlockStart("OutOfOfficeSingleBlock") %]
                                    <div class="Field ButtonOnly">
                                        <button type="submit" id="[% Data.Name | html %]Update" value="[% Translate("Update") | html %]" class="CallForAction"><span>[% Translate("Update") | html %]</span></button>
                                    </div>
[% RenderBlockEnd("OutOfOfficeSingleBlock") %]
[% RenderBlockEnd("OutOfOffice") %]
[% RenderBlockStart("RawHTML") %]
                                    <div class="Field NoMargin">
                                        [% Data.HTML %]
                                    </div>
                                    <div class="Clear"></div>
[% RenderBlockStart("RawHTMLSingleBlock") %]
                                    <div class="Field ButtonOnly">
                                        <button type="submit" id="[% Data.Name | html %]Update" value="[% Translate("Update") | html %]" class="CallForAction"><span>[% Translate("Update") | html %]</span></button>
                                    </div>
[% RenderBlockEnd("RawHTMLSingleBlock") %]
[% RenderBlockEnd("RawHTML") %]
[% RenderBlockEnd("Block") %]
[% RenderBlockStart("MultipleBlocks") %]
                                    <div class="Field ButtonOnly">
                                        <button type="submit" value="[% Translate("Update") | html %]" class="CallForAction"><span>[% Translate("Update") | html %]</span></button>
                                    </div>
[% RenderBlockEnd("MultipleBlocks") %]
                                </fieldset>
                            </div>
                        </div>
                    </form>
[% RenderBlockEnd("Item") %]
                </div>
            </div>
        </div>
[% RenderBlockEnd("Column") %]
        <div class="Clear"></div>
    </div>
</div>
[% RenderBlockEnd("Body") %]
