# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

[% RenderBlockStart("ContentLargeCustomerUserListNavBar") %]
<span class="Pagination">
    [% Data.SiteNavBar %]
</span>
[% RenderBlockEnd("ContentLargeCustomerUserListNavBar") %]
[% RenderBlockStart("ContentLargeCustomerUserAdd") %]
<h2><a class="CallForAction" href="[% Env("Baselink") %]Action=AdminCustomerUser;Subaction=Add;CustomerID=[% Data.CustomerID | uri %]"><span><i class="fa fa-plus-square"></i> [% Translate("Add Customer User") | html %]</span></a></h2>
[% RenderBlockEnd("ContentLargeCustomerUserAdd") %]

<table class="DataTable">
    <thead>
        <tr>
            <th>[% Translate("Customer User ID") | html %]</th>
            <th>[% Translate("Customer user information") | html %]</th>
            <th>[% Translate("Open") | html %]</th>
            <th>[% Translate("Closed") | html %]</th>
[% RenderBlockStart("OverviewResultNewAgentTicketPhone") %]
            <th>[% Translate("Phone ticket") | html %]</th>
[% RenderBlockEnd("OverviewResultNewAgentTicketPhone") %]
[% RenderBlockStart("OverviewResultNewAgentTicketEmail") %]
            <th>[% Translate("Email ticket") | html %]</th>
[% RenderBlockEnd("OverviewResultNewAgentTicketEmail") %]
        [% IF Data.EditCustomerPermission %]
            <th class="Center">[% Translate("Edit") | html %]</th>
        [% END %]
[% RenderBlockStart("OverviewResultSwitchToCustomer") %]
            <th>[% Translate("Login as") | html %]</th>
[% RenderBlockEnd("OverviewResultSwitchToCustomer") %]
        </tr>
    </thead>
    <tbody>
[% RenderBlockStart("ContentLargeCustomerUserListRow") %]
        <tr>
            <td>
[% RenderBlockStart("ContentLargeCustomerUserListRowUserStatus") %]
                <span class="UserStatusIcon Inline [% Data.UserState | html %]">
                    <i class="fa fa-circle" title="[% Data.UserStateDescription | html %]"></i>
                </span>
[% RenderBlockEnd("ContentLargeCustomerUserListRowUserStatus") %]
                <a href="[% Env("Baselink") %]Action=AgentCustomerUserInformationCenter;CustomerUserID=[% Data.CustomerKey | uri %]" class="MasterActionLink">
                    [% Data.CustomerKey | html %]
                </a>
[% RenderBlockStart("ContentLargeCustomerUserListRowChatIcons") %]
                <span class="UserChatIcons Hidden">
                    <a href="#" title="[% Translate("Start chat") | html %]" type="button" class="UserChatStart" data-user-type="Customer" data-user-id="[% Data.UserID | html %]" data-user-fullname="[% Data.UserFullname | html %]">
                        <i class="fa fa-comments"></i>
                    </a>
                    [% IF Data.VideoChatEnabled %]
                    <a href="#" title="[% Translate("Video call") | html %]" type="button" class="UserVideoCallStart[% IF !Data.VideoChatAvailable %] Unavailable[% END %][% IF !Data.VideoChatSupport %] Unsupported[% END %]" data-user-id="[% Data.UserID | html %]" data-user-type="Customer" data-user-fullname="[% Data.UserFullname | html %]">
                        <i class="fa fa-video-camera"></i>
                    </a>
                    <a href="#" title="[% Translate("Audio call") | html %]" type="button" class="UserAudioCallStart[% IF !Data.VideoChatAvailable %] Unavailable[% END %][% IF !Data.VideoChatSupport %] Unsupported[% END %]" data-user-id="[% Data.UserID | html %]" data-user-type="Customer" data-user-fullname="[% Data.UserFullname | html %]">
                        <i class="fa fa-microphone"></i>
                    </a>
                    [% END %]
                </span>
[% RenderBlockEnd("ContentLargeCustomerUserListRowChatIcons") %]
            </td>
            <td>
                [% Data.CustomerListEntry | html %]
            </td>
[% RenderBlockStart("ContentLargeCustomerUserListRowCustomerUserTicketsOpen") %]
            <td>
                <a href="[% Env("Baselink") %]Action=AgentTicketSearch;Subaction=Search;StateType=Open;CustomerUserLoginRaw=[% Data.CustomerKeySQL | uri %]" title="[% Translate("%s open ticket(s) of %s", Data.Count, Data.CustomerKey) | html %]" class="AsBlock">
                    [% Data.Count | html %]
                </a>
            </td>
[% RenderBlockEnd("ContentLargeCustomerUserListRowCustomerUserTicketsOpen") %]
[% RenderBlockStart("ContentLargeCustomerUserListRowCustomerUserTicketsClosed") %]
            <td>
                <a href="[% Env("Baselink") %]Action=AgentTicketSearch;Subaction=Search;StateType=Closed;CustomerUserLoginRaw=[% Data.CustomerKeySQL | uri %]" title="[% Translate("%s closed ticket(s) of %s", Data.Count, Data.CustomerKey) | html %]" class="AsBlock">
                    [% Data.Count | html %]
                </a>
            </td>
[% RenderBlockEnd("ContentLargeCustomerUserListRowCustomerUserTicketsClosed") %]
[% RenderBlockStart("ContentLargeCustomerUserListNewAgentTicketPhone") %]
            <td class="PhoneTicket">
                <a href="[% Env("Baselink") %]Action=AgentTicketPhone;Subaction=StoreNew;ExpandCustomerName=2;CustomerUser=[% Data.CustomerKey | uri %]" title="[% Translate("New phone ticket from %s", Data.CustomerKey) | html %]">
                    <span>[% Translate("Create") | html %]</span>
                </a>
            </td>
[% RenderBlockEnd("ContentLargeCustomerUserListNewAgentTicketPhone") %]
[% RenderBlockStart("ContentLargeCustomerUserListNewAgentTicketEmail") %]
            <td class="EmailTicket">
                <a href="[% Env("Baselink") %]Action=AgentTicketEmail;Subaction=StoreNew;ExpandCustomerName=2;CustomerUser=[% Data.CustomerKey | uri %]" title="[% Translate("New email ticket to %s", Data.CustomerKey) | html %]">
                    <span>[% Translate("Create") | html %]</span>
                </a>
            </td>
[% RenderBlockEnd("ContentLargeCustomerUserListNewAgentTicketEmail") %]
        [% IF Data.EditCustomerPermission %]
            <td class="Center">
                <a href="[% Env("Baselink") %]Action=AdminCustomerUser;Subaction=Change;ID=[% Data.CustomerKey | uri %];Nav=Agent" title="Edit customer user">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
            </td>
        [% END %]
[% RenderBlockStart("OverviewResultRowSwitchToCustomer") %]
            <td>
                <a class="AsBlock" href="[% Env("Baselink") %]Action=AdminCustomerUser;Subaction=Switch;ID=[% Data.CustomerKey | uri %];[% Env("ChallengeTokenParam") | html %]" target="_blank">[% Translate("Switch to customer") | html %]</a>
            </td>
[% RenderBlockEnd("OverviewResultRowSwitchToCustomer") %]
        </tr>
[% RenderBlockEnd("ContentLargeCustomerUserListRow") %]
[% RenderBlockStart("ContentLargeCustomerUserListNone") %]
        <tr>
            <td>
                [% Translate("none") | html %]
            </td>
        </tr>
[% RenderBlockEnd("ContentLargeCustomerUserListNone") %]
    </tbody>
</table>
