# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

[% RenderBlockStart("ContentSmallUserOnlineFilter") %]
<div class="DashboardActions">
    <ul class="UserFilter Tab Actions">
        <li class="[% Data.item("Agent::Selected") | html %]"><a href="#" id="Dashboard[% Data.Name | html %]Agent" class="[% Data.item("Agent::Selected") | html %]">[% Translate("Agents") | html %] ([% Data.Agent | html %])</a></li>
        <li class="[% Data.item("Customer::Selected") | html %]"><a href="#" id="Dashboard[% Data.Name | html %]Customer" class="[% Data.item("Customer::Selected") | html %]">[% Translate("Customers") | html %] ([% Data.Customer | html %])</a></li>
    </ul>
</div>
[% RenderBlockStart("ContentSmallTicketGenericFilterNavBar") %]
<span class="Pagination">
    [% Data.SiteNavBar %]
</span>
[% RenderBlockEnd("ContentSmallTicketGenericFilterNavBar") %]

[% RenderBlockEnd("ContentSmallUserOnlineFilter") %]
<table class="DataTable DashboardUserOnline">
    <tbody>
[% RenderBlockStart("ContentSmallUserOnlineRow") %]
        <tr class="UserRow">
            <td>
                <span class="UserStatusIcon Inline [% Data.UserState | html %]">
                    <i class="fa fa-circle" title="[% Data.UserStateDescription | html %]"></i>
                </span>
                <p title="[% Data.UserEmail | html %]">
                [% IF Data.UserCustomerID %]
                    <a href="[% Env("Baselink") %]Action=AgentCustomerInformationCenter;CustomerID=[% Data.UserCustomerID | uri %]">
                [% ELSE %]
                    <span>
                [% END %]
                        [% Data.UserFullname | truncate(30) | html %]
[% RenderBlockStart("ContentSmallUserOnlineRowEmail") %]
                            ([% Data.UserEmail | truncate(50) | html %])
[% RenderBlockEnd("ContentSmallUserOnlineRowEmail") %]
[% RenderBlockStart("ContentSmallUserOnlineRowOutOfOffice") %]
                            - [% Translate("out of office") | html %]
[% RenderBlockEnd("ContentSmallUserOnlineRowOutOfOffice") %]
                [% IF Data.UserCustomerID %]
                    </a>
                [% ELSE %]
                    </span>
                [% END %]
                </p>

                [% IF Data.AgentEnableChat && Data.UserID != Env('UserID') || Data.CustomerEnableChat %]
                <span class="UserChatIcons Hidden">
                    <a href="#" title="[% Translate('Start chat') | html %]" type="button" class="UserChatStart"
                        data-user-id="[% Data.UserID | html %]" data-user-type="[% Data.UserType.replace('Agent', 'User') | html %]"
                        data-user-fullname="[% Data.UserFullname | html %]">
                        <i class="fa fa-comments"></i>
                    </a>
                    [% IF Data.VideoChatEnabled %]
                    <a href="#" title="[% Translate('Video call') | html %]" type="button" class="UserVideoCallStart[% IF !Data.VideoChatAvailable %] Unavailable[% ELSIF !Data.VideoChatSupport %] Unsupported[% END %]"
                        data-user-id="[% Data.UserID | html %]" data-user-type="[% Data.UserType.replace('Agent', 'User') | html %]"
                        data-user-fullname="[% Data.UserFullname | html %]">
                        <i class="fa fa-video-camera"></i>
                    </a>
                    <a href="#" title="[% Translate('Audio call') | html %]" type="button" class="UserAudioCallStart[% IF !Data.VideoChatAvailable %] Unavailable[% ELSIF !Data.VideoChatSupport %] Unsupported[% END %]"
                        data-user-id="[% Data.UserID | html %]" data-user-type="[% Data.UserType.replace('Agent', 'User') | html %]"
                        data-user-fullname="[% Data.UserFullname | html %]">
                        <i class="fa fa-microphone"></i>
                    </a>
                    [% END %]
                </span>
                [% END %]
            </td>
        </tr>
[% RenderBlockEnd("ContentSmallUserOnlineRow") %]
[% RenderBlockStart("ContentSmallUserOnlineNone") %]
        <tr>
            <td>
                [% Translate("none") | html %]
            </td>
        </tr>
[% RenderBlockEnd("ContentSmallUserOnlineNone") %]
    </tbody>
</table>
