# --
# Copyright (C) 2001-2016 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<!-- start addressbook form -->
<div class="LayoutPopup">
    <div class="Content">
        <h1 class="Center">[% Translate("Address Book") | html %]</h1>
        <form id="AddressBook" action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data">
            <fieldset class="SpacingTop TableLike FixedLabelSmall">
                <label for="Search">[% Translate("Search") | html %]:</label>
                <div class="Field">
                    <input type="text" name="Search" id="Search" class="W75pc" value="" title="[% Translate("Search for a customer") | html %]"/>
                </div>
                <div class="Clear"></div>
                <div class="Center SpacingTopSmall">
                    <button type="submit" class="CallForAction" value="[% Translate("Search") | html %]" ><span>[% Translate("Search") | html %]</span></button>
                </div>
                <hr />
            </fieldset>
[% RenderBlockStart("SearchResult") %]
            <table id="SearchResult" class="DataTable SpacingTop">
                <thead>
                    <tr>
                        <th>[% Translate("Email") | html %]</th>
                        <th>[% Translate("To") | html %]</th>
                        <th>[% Translate("Cc") | html %]</th>
                        <th>[% Translate("Bcc") | html %]</th>
                    </tr>
                </thead>
                <tbody>
[% RenderBlockStart("Row") %]
                    <tr id="Row[% Data.Count | html %]">
                        <td>[% Data.Email | html %]</td>
                        <td><a href="" data-customerdatajson="[% Data.CustomerDataJSON | html %]" rel="ToCustomer" title="[% Translate("Add email address %s to the To field", Data.Email) | html %]">[% Translate("To") | html %]</a></td>
                        <td><a href="" rel="CcCustomer" title="[% Translate("Add email address %s to the Cc field", Data.Email) | html %]">[% Translate("Cc") | html %]</a></td>
                        <td><a href="" rel="BccCustomer" title="[% Translate("Add email address %s to the Bcc field", Data.Email) | html %]">[% Translate("Bcc") | html %]</a></td>
                    </tr>
[% RenderBlockEnd("Row") %]
                </tbody>
            </table>
[% RenderBlockEnd("SearchResult") %]
            <input type="hidden" name="Action" value="AgentBook" />
            <fieldset class="TableLike FixedLabelSmall SpacingTop">
                <label for="To">[% Translate("To") | html %]:</label>
                <div class="Field">
                    <input type="hidden" name="CustomerData" id="CustomerData" value="[% Data.CustomerData | html %]" />
                    <input type="text" name="ToCustomer" id="ToCustomer" value="[% Data.ToCustomer | html %]" class="W75pc" />
                </div>
                <div class="Clear"></div>
                <label for="Cc">[% Translate("Cc") | html %]:</label>
                <div class="Field">
                    <input type="text" name="CcCustomer" id="CcCustomer" value="[% Data.CcCustomer | html %]" class="W75pc" />
                </div>
                <div class="Clear"></div>
                <label for="Bcc">[% Translate("Bcc") | html %]:</label>
                <div class="Field">
                    <input type="text" name="BccCustomer" id="BccCustomer" value="[% Data.BccCustomer | html %]" class="W75pc" />
                </div>
            </fieldset>
        </form>
        <div class="Center SpacingTop">
            <button type="button" id="Apply" class="Primary CallForAction" value="[% Translate("Apply") | html %]"><span>[% Translate("Apply") | html %]</span></button>
            <button type="button" id="Cancel" class="CallForAction" value="[% Translate("Cancel") | html %]"><span>[% Translate("Cancel") | html %]</span></button>
        </div>
    </div>
</div>
