# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --


<div class="MainBox AriaRoleMain LayoutFixedSidebar SidebarFirst">
    <h1 class="InvisibleText">[% Translate("Statistics Management") | html %]</h1>

    [% USE ActionLink = String( 'AgentStatistics' ) %]

    [% BreadcrumbPath = [
            {
                Name => Translate('Statistics Management'),
                Link => ActionLink.append( ';Subaction=Overview' ),
            },
            {
                Name => Translate('Edit Statistics'),
            },
        ]
    %]

    [% INCLUDE "Breadcrumb.tt" Path = BreadcrumbPath Type = "Agent" %]

    <div class="SidebarColumn">
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Actions") | html %]</h2>
            </div>
            <div class="Content">
                <ul class="ActionList">
                    <li>
                        <a href="[% Env("Baselink") %]Action=[% Env("Action") %];Subaction=Overview" class="CallForAction Fullsize Center"><span><i class="fa fa-caret-left"></i>[% Translate("Go to overview") | html %]</span></a>
                    </li>
                    [% IF Data.Valid %]
                    <li>
                        <a href="[% Env("Baselink") %]Action=[% Env("Action") %];Subaction=View;StatID=[% Data.StatID | html %]" class="CallForAction Fullsize Center"><span><i class="fa fa-caret-square-o-right"></i>[% Translate("Run now") | html %]</span></a>
                    </li>
                    [% END %]
                </ul>
            </div>
        </div>
    </div>

    <div class="ContentColumn">
        <form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data" class="Validate StatsEditForm">
            <input type="hidden" name="Action" value="[% Env("Action") %]"/>
            <input type="hidden" name="Subaction" value="EditAction"/>
            <input type="hidden" name="StatID" value="[% Data.StatID | html %]"/>

            <div class="WidgetSimple Collapsed">
                <div class="Header">
                    <div class="WidgetAction Toggle">
                        <a href="#" title="[% Translate("Show or hide the content") | html %]"><i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i></a>
                    </div>
                    <h2>[% Translate("General Specification") | html %]</h2>
                </div>
                <div class="Content">
                    [% Data.GeneralSpecificationsWidget %]
                </div>
            </div>

            [% IF Data.StatType == 'dynamic' %]
            <div class="WidgetSimple PreviewWidget">
                <div class="Header">
                    <div class="WidgetAction Toggle">
                        <a href="#" title="[% Translate("Show or hide the content") | html %]"><i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i></a>
                    </div>
                    <h2>[% Translate("Statistics Preview") | html %]</h2>
                </div>
                <div class="Content PreviewContainer">
                    [% Data.PreviewWidget %]
                </div>
            </div>
            [% END %]

            <div class="WidgetSimple">
                <div class="Header">
                    <h2>[% Translate("Save Statistic") | html %]</h2>
                </div>
                <div class="Content">

                    <fieldset class="TableLike">

                        <div class="Field SpacingTop">
                            <button class="Primary CallForAction" type="submit" value="[% Translate("Save") | html %]">
                                <span>[% Translate("Save") | html %]</span>
                            </button>
                            [% Translate('or') | html %]
                            <button class="CallForAction" type="submit" id="SaveAndFinish" name="SaveAndFinish" value="[% Translate("Save and finish") | html %]">
                                <span>[% Translate("Save and finish") | html %]</span>
                            </button>
                            <input autocomplete="off" type="hidden" name="ReturnToStatisticOverview" id="ReturnToStatisticOverview" value="" />
                            [% Translate('or') | html %]
                            <a href="[% Env("Baselink") %]Action=[% Env("Action") %];Subaction=Overview">
                                [% Translate('Cancel') | html %]
                            </a>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
#       <!-- append after form to avoid element submit -->
        [% Data.XAxisWidget %]
        [% Data.YAxisWidget %]
        [% Data.RestrictionsWidget %]
    </div>
</div>
