# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

<div class="MetaFloater">
    <a href="#" class="Scale" title="{{ 'Scale preview content' | Translate }}" style="display: none;">
        <i class="fa fa-search-plus"></i>
    </a>
    <a href="#" class="Open" target="_blank" title="{{ 'Open URL in new tab' | Translate }}" style="display: none;">
        <i class="fa fa-external-link"></i>
    </a>
    <a href="#" class="Close" title="{{ 'Close preview' | Translate }}">
        <i class="fa fa-times"></i>
    </a>
    <i class="fa fa-spinner fa-spin"></i>
    <div class="NoPreview">
        <i class="fa fa-warning"></i>
        {{ "A preview of this website can't be provided because it didn't allow to be embedded." | Translate }}
    </div>
    <div class="Content" style="display: none;">
        <iframe sandbox="allow-scripts allow-forms"></iframe>
    </div>
</div>
