# --
# Copyright (C) 2001-2018 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<tr class="Hidden Uploading">
    <td class="Filename">{{ Filename | safe }}</td>
    <td class="Filetype">{{ Filetype | safe }}</td>
    <td class="Filesize">
        <span class="Progress"></span>
    </td>
    <td class="Center">
        <a href="#" class="AttachmentDelete Hidden"><i class="fa fa-trash"></i></a>
    </td>
</tr>
