# --
# Copyright (C) 2001-2018 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="DnDUpload" tabindex="0" role="button" aria-label="{{ 'Click to select a file for upload.' | Translate }}">
    <i class="fa fa-spinner fa-spin"></i>
    <i class="fa fa-download"></i>
    <span class="ReadyForUpload">
    {% if IsMultiple %}
        {{ 'Click to select files or just drop them here.' | Translate }}
    {% else %}
        {{ 'Click to select a file or just drop it here.' | Translate }}
    {% endif %}
    </span>

    <span class="UploadRunning">{{ 'Uploading...' | Translate }}</span>
</div>
