# --
# AgentDashboardStats.tt - provides stats output as a dashboard widget
# Copyright (C) 2001-2014 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% RenderBlockStart("NoData") %]
<i class="icon-signal" style="display: block; margin-bottom: 3px; font-size: 20px; text-align: center; color: #E77A34;"></i>
<p class="Center FieldExplanation">[% Translate("The content of this statistic is being prepared for you, please be patient.") | html %]</p>
[% RenderBlockEnd("NoData") %]

[% RenderBlockStart("StatsData") %]
<svg style="height: 350px;" class="GraphWidget[% Data.Name | html %]" id="GraphWidget[% Data.Name | html %]"></svg>

[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
/*global nv, d3 */

// add translations
Core.Config.Set('Grouped', [% Translate("Grouped") | JSON %]);
Core.Config.Set('Stacked', [% Translate("Stacked") | JSON %]);
Core.Config.Set('Expanded', [% Translate("Expanded") | JSON %]);
Core.Config.Set('Stream', [% Translate("Stream") | JSON %]);

// get settings for widget from preferences
Core.Config.Set('Pref-GraphWidget[% Data.Name | html %]', [% Data.Preferences %]);

(function(){

    var Timeout = 500;

    // check if the container is already expanded, otherwise the graph
    // would have the wrong size after the widget settings have been saved
    // and the content is being reloaded using ajax.
    if ($('#GraphWidget[% Data.Name | html %]').parent().is(':visible')) {
        Timeout = 0;
    }

    window.setTimeout(function () {
        var RawData = [% Data.StatsData %],
            ChartType = [% Data.ChartType | JSON %];
        Core.UI.AdvancedChart.Init(ChartType, RawData, 'svg.GraphWidget[% Data.Name | html %]');
    }, Timeout);
}());
//]]></script>
[% END %]

[% RenderBlockStart("StatsDataLink") %]
<div class="WidgetAction" id="GraphWidgetLink[% Data.Name | html %]">
    <a href="#" class="TriggerTooltip" title="[% Translate("Download") | html %]">
        <i class="icon-download-alt"></i>
    </a>
    <span class="Hidden WidgetTooltip">
[% RenderBlockStart("StatsDataLinkCSV") %]
        <a href="[% Env("Baselink") %]Action=AgentStats;Subaction=Run;Cached=1;StatID=[% Data.StatID | uri %];Format=CSV;Name=[% Data.Name | uri %]" title="[% Translate("Download") | html %]: [% Translate("CSV") | html %]">
            [% Translate("Download") | html %]: [% Translate("CSV") | html %]
        </a>
[% RenderBlockEnd("StatsDataLinkCSV") %]
[% RenderBlockStart("StatsDataLinkPDF") %]
        <a href="[% Env("Baselink") %]Action=AgentStats;Subaction=Run;Cached=1;StatID=[% Data.StatID | uri %];Format=Print;Name=[% Data.Name | uri %]" title="[% Translate("Download") | html %]: [% Translate("PDF") | html %]">
            [% Translate("Download") | html %]: [% Translate("PDF") | html %]
        </a>
[% RenderBlockEnd("StatsDataLinkPDF") %]
    </span>
</div>
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
$('#GraphWidgetLink[% Data.Name | html %]').prependTo( $('#GraphWidget[% Data.Name | html %]').closest('.WidgetSimple').find('.ActionMenu') );
$('#GraphWidgetLink[% Data.Name | html %]').find('a.TriggerTooltip').bind('click', function(){
    $(this).next('span').toggleClass('Hidden');
    return false;
});
$('#GraphWidgetLink[% Data.Name | html %]').find('.WidgetTooltip').find('a').bind('click', function(){
    $(this).parent().addClass('Hidden');
});
$('#GraphWidgetLink[% Data.Name | html %]').closest('.Header').bind('mouseleave.WidgetTooltip', function(){
    $('#GraphWidgetLink[% Data.Name | html %]').find('span').addClass('Hidden');
});
//]]></script>
[% END %]
[% RenderBlockEnd("StatsDataLink") %]

[% RenderBlockEnd("StatsData") %]
