# --
# AgentCustomerInformationCenterSearch.tt - provides HTML form for AgentCustomerInformationCenterSearch
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="InnerContent">
    <form action="[% Env("CGIHandle") %]" method="post" id="AgentCustomerInformationCenterSearchForm">
        <input type="hidden" name="Action" value="[% Env("Action") %]"/>
        <input type="hidden" name="Subaction" value="Redirect"/>
        <fieldset class="TableLike">
            <legend>Customer search</legend>
            <div class="Clear"></div>
            <label>[% Translate("Customer") | html %]:</label>
            <div class="Field">
                <input type="text" id="AgentCustomerInformationCenterSearchCustomerID" class="W90pc" />
                <div class="FieldExplanation">
                    [% Translate("Search for customer details to find a customer.") %]
                </div>
            </div>
            <div class="Clear"></div>
            <label>[% Translate("Customer User") | html %]:</label>
            <div class="Field">
                <input type="text" id="AgentCustomerInformationCenterSearchCustomerUser" class="W90pc" />
                <div class="FieldExplanation">
                    [% Translate("Search for customer user details to find a customer.") %]
                </div>
            </div>
            <div class="Clear"></div>
        </fieldset>
        <fieldset class="TableLike">
            <legend>Customer user search</legend>
            <div class="Clear"></div>
            <label>[% Translate("Customer") | html %]:</label>
            <div class="Field">
                <input type="text" id="AgentCustomerUserInformationCenterSearchCustomerID" class="W90pc" />
                <div class="FieldExplanation">
                    [% Translate("Search for customer details to find a customer user.") %]
                </div>
            </div>
            <div class="Clear"></div>
            <label>[% Translate("Customer User") | html %]:</label>
            <div class="Field">
                <input type="text" id="AgentCustomerUserInformationCenterSearchCustomerUser" class="W90pc" />
                <div class="FieldExplanation">
                    [% Translate("Search for customer user details to find a customer user.") %]
                </div>
            </div>
            <div class="Clear"></div>
        </fieldset>
    </form>
</div>
<script type="text/javascript">//<![CDATA[
Core.Agent.CustomerInformationCenterSearch.Init();
//]]></script>
