# --
# AgentStatsImport.tt - provides HTML form for import a stat
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --


<div class="MainBox AriaRoleMain SpacingTopLarge">
    <div class="W50pc SpacingBottomLarge CenterBox">
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Import Stat") | html %]</h2>
            </div>
            <div class="Content">

[% RenderBlockStart("ErrorDoctype1") %]
                <p class="Error">[% Translate("File is not a Stats config") | html %]!</p>
[% RenderBlockEnd("ErrorDoctype1") %]
[% RenderBlockStart("ErrorDoctype2") %]
                <p class="Error">[% Translate("No File selected") | html %]!</p>
[% RenderBlockEnd("ErrorDoctype2") %]

                <form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="Action"    value="[% Env("Action") %]"/>
                    <input type="hidden" name="Subaction" value="Import"/>
                    <input type="hidden" name="Status"    value="Action"/>

                    <fieldset class="TableLike">
                        <label for="file_upload">[% Translate("File") | html %]:</label>
                        <div class="Field">
                            <input name="file_upload" id="file_upload" type="file" size="30"/>
                            <input type="hidden" name="ImportType" value="Upload"/>
                        </div>
                    </fieldset>

                    <p class="Center">
                        <button class="Primary CallForAction" accesskey="g" title="[% Translate("Import") | html %] (g)" type="submit" value="[% Translate("Import") | html %]"><span>[% Translate("Import") | html %]</span></button>
                        [% Translate("or") | html %]
                        <a href="[% Env("Baselink") %]Action=[% Env("Action") %];Subaction=Overview">[% Translate("Cancel") | html %]</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
