# --
# AgentStatsViewSettings.tt - provides HTML form for the settings of the view stat screen
# Copyright (C) 2001-2014 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% RenderBlockStart("WidgetSettingsStart") %]
<input type="hidden" name="[% Data.JSONFieldName | html %]" class="StatsSettingsJSON" />
<div class="StatsSettingsBox" id="StatsSettingsBox[% Data.NamePref | html %]">
[% RenderBlockEnd("WidgetSettingsStart") %]

[% RenderBlockStart("Static") %]
    <h2>
        [% Translate("Configurable params of static stat") | html %]
    </h2>
    <fieldset class="TableLike">
[% RenderBlockStart("ItemParam") %]
        <label for="[% Data.Name | html %]">[% Translate(Data.Param) | html %]:</label>
        <div class="Value">[% Data.Field %]</div>
        <div class="Clear"></div>
[% RenderBlockEnd("ItemParam") %]
    </fieldset>
[% RenderBlockEnd("Static") %]


[% RenderBlockStart("Dynamic") %]
    <h2>[% Translate(Data.Name) | html %]</h2>
    <fieldset class="TableLike">
[% RenderBlockStart("NoElement") %]
        <p>[% Translate("No element selected.") | html %]</p>
[% RenderBlockEnd("NoElement") %]
[% RenderBlockStart("Element") %]
        <label>[% Translate(Data.Name) | html %]</label>
        <div class="Value">
            <p>
[% RenderBlockStart("TimePeriodFixed") %]
                [% Translate("Between") | html %] [% Data.TimeStart %] [% Translate("and") | html %] [% Data.TimeStop %]<br/>
[% RenderBlockEnd("TimePeriodFixed") %]
[% RenderBlockStart("TimeRelativeFixed") %]
                [% Translate("The last") | html %] [% Data.TimeRelativeCount %] [% Translate(Data.TimeRelativeUnit) | html %]<br/>
[% RenderBlockEnd("TimeRelativeFixed") %]
[% RenderBlockStart("TimeScaleFixed") %]
                [% Translate("Scale") | html %]: [% Data.Count %] [% Translate(Data.Scale) | html %]
[% RenderBlockEnd("TimeScaleFixed") %]
[% RenderBlockStart("Fixed") %]
                [% Data.Value %]<br/>
[% RenderBlockEnd("Fixed") %]
[% RenderBlockStart("MultiSelectField") %]
                [% Data.SelectField %]
[% RenderBlockEnd("MultiSelectField") %]
[% RenderBlockStart("SelectField") %]
                [% Data.SelectField %]
[% RenderBlockEnd("SelectField") %]
[% RenderBlockStart("InputField") %]
                <input type="text" name="[% Data.Key | html %]" value="[% Data.Value | html %]" class="W25pc"/>
[% RenderBlockEnd("InputField") %]
            </p>
        </div>
        <div class="Clear"></div>

[% RenderBlockStart("TimeScale") %]
        <label><em>[% Translate("Scale") | html %]</em>:</label>
        <div class="Value" data-min-seconds="[% Data.TimeScaleMinSeconds %]">
            <p>
                [% Data.TimeScaleCount %]
                [% Data.TimeScaleUnit %]
[% RenderBlockStart("TimeScaleInfo") %]
                ([% Translate("minimal scale") | html %] [% Data.TimeScaleCountMax %] [% Translate(Data.TimeScaleUnitMax) | html %])
[% RenderBlockEnd("TimeScaleInfo") %]
            </p>
        </div>
        <div class="Clear"></div>
[% RenderBlockEnd("TimeScale") %]

[% RenderBlockStart("TimePeriod") %]
        <label><em>[% Translate("Between") | html %]</em>:</label>
        <div class="Value">
            <p>
                [% Data.TimeStart %] [% Translate("and") | html %] [% Data.TimeStop %]<br/>
                ([% Translate("maximal period from") | html %] [% Data.TimeStartMax | Localize("TimeLong") %] [% Translate("to") | html %] [% Data.TimeStopMax | Localize("TimeLong") %])
            </p>
        </div>
        <div class="Clear"></div>
[% RenderBlockEnd("TimePeriod") %]

[% RenderBlockStart("TimePeriodNotChangable") %]
        <label><em>[% Translate("Between") | html %]</em>:</label>
        <div class="Value">
            <p>
                [% Data.TimeStartMax | Localize("TimeLong") %] [% Translate("and") | html %] [% Data.TimeStopMax | Localize("TimeLong") %] ([% Translate("not changable for dashboard statistics") | html %]).
            </p>
        </div>
        <div class="Clear"></div>
[% RenderBlockEnd("TimePeriodNotChangable") %]

[% RenderBlockStart("TimePeriodRelative") %]
        <label><em>[% Translate("The last") | html %]</em>:</label>
        <div class="Value" data-max-seconds="[% Data.TimeRelativeMaxSeconds %]">
            <p>
                [% Data.TimeRelativeCount %]
                [% Data.TimeRelativeUnit %] ([% Translate("maximal period") | html %] [% Data.TimeRelativeCountMax %] [% Translate(Data.TimeRelativeUnitMax) | html %])
            </p>
        </div>
        <div class="Clear"></div>
[% RenderBlockEnd("TimePeriodRelative") %]

[% RenderBlockEnd("Element") %]
    </fieldset>
[% RenderBlockEnd("Dynamic") %]

[% RenderBlockStart("WidgetSettingsEnd") %]
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
Core.Agent.Dashboard.InitStatsConfiguration($('#StatsSettingsBox[% Data.NamePref | html %]'));
//]]></script>
[% END %]
</div>
[% RenderBlockEnd("WidgetSettingsEnd") %]
