# --
# AgentDashboardUserOutOfOffice.tt - provides HTML for global dashboard
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% RenderBlockStart("ContentSmallTicketGenericNavBar") %]
<span class="Pagination">
    [% Data.SiteNavBar %]
</span>
[% RenderBlockEnd("ContentSmallTicketGenericNavBar") %]

<table class="DataTable DashboardUser">
    <tbody>
[% RenderBlockStart("ContentSmallUserOutOfOfficeRow") %]
        <tr>
            <td>
                <p class="UserRow" title="[% Data.UserEmail | html %]">
                    <span>[% Data.UserFullname | html %] [% Translate("until") | html %] [% Data.OutOfOfficeUntil | Localize("Date") %]</span>
                </p>
            </td>
        </tr>
[% RenderBlockEnd("ContentSmallUserOutOfOfficeRow") %]
    </tbody>
</table>
