Content-Type: text/html; 


# --
# set some html variables
<otrs $Data{"BGCOLOR"} = "#BBDDFF">
<otrs $Data{"BGTableColor"} = "#000000">
<html>
<head>
    <title>$Data{"Title"}</title>
<STYLE TYPE="text/css">
<!--
  p,h1,h2,h3,h4,ul,ol,li,div,td,th,address,blockquote,nobr,b,i
                { font-family: Helvetica, Arial; }
  pre
                 { font-family: Courier; }
//-->
</STYLE>
</head>
<a name=top></a>
<body bgcolor="$Data{"BGCOLOR"}">
