[% '#' %] copy config file
cp Kernel/Config.pm.dist Kernel/Config.pm
[% '#' %] rename config POD file
mv Kernel/Config.pod.dist Kernel/Config.pod
[% '#' %] copy all crontab dist files
for foo in var/cron/*.dist; do mv $foo var/cron/`basename $foo .dist`; done
[% '#' %] copy all .dist files
cp .procmailrc.dist .procmailrc
cp .fetchmailrc.dist .fetchmailrc
cp .mailfilter.dist .mailfilter
