# --
# Copyright (C) 2001-2017 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<button data-suffix="{{ Suffix }}" class="{{ Class }}" type="button" 
    title="{{ 'Add new entry' | Translate }}" value="{{ 'Add new entry' | Translate }}">
    <i class="fa fa-plus-circle"></i>
    <span class="InvisibleText">{{ 'Add new entry' | Translate }}</span>
</button>
